@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700,900&display=swap')

// Variables

$tablet: 450px 
$pc: 1366px
$pcLarge: 1921px

$xxs: 8px

$xs: 12px

$s: 16px

$md: 24px

$lg: 32px

$xl: 48px

$xxl: 64px

$colorLight: #fdfdfd 
$colorLightMedium: #f2f2f2  
$colorMedium: #dadada  
$colorDark: #303030

$colorYellow: #E7E247 
$colorOrange: #FFAA5A
$colorRed: #D8273E  
$colorPurple: #B233B0  
$colorBlue: #246EB9
$colorMint: #70D8A8     
$colorGreen: #7AC74F  

$fontSizeXXS: 8px 
$fontSizeXS: 12px 
$fontSizeS: 14px 
$fontSizeMD: 16px 
$fontSizeLG: 24px 
$fontSizeXL: 32px 
$fontSizeXXL: 40px 

$fontWeightLight: 300
$fontWeightRegular: 400
$fontWeightMedium: 500
$fontWeightBold: 700
$fontWeightBlack: 900

    
// GENERAL

*, ::after, ::before 
    box-sizing: border-box

body
    font-family: 'Montserrat', sans-serif;
    margin: 0
    padding: 0


// Row

=rowMasonry($value)
    column-count: 1
    column-gap: 0

    @media (min-width: $tablet)
        column-count: 2

    @media (min-width: $pc)
        column-count: $value       

.leto-row
    flex-direction: row
    display: flex

    &-masonry
        +rowMasonry(4)

        &-3
            +rowMasonry(3)

        &-4
            +rowMasonry(4) 

        &-5
            +rowMasonry(5)     


// Margin

=margin($value)
    margin: $value

=marginBalance($value)
    margin: -$value

=marginX($value)
    margin-left: $value
    margin-right: $value

=marginY($value)
    margin-top: $value
    margin-bottom: $value

=marginTop($value)
    margin-top: $value

=marginLeft($value)
    margin-left: $value

=marginRight($value)
    margin-right: $value

=marginBottom($value)
    margin-bottom: $value

.leto-m
    +margin($md)

    &-xxs
        +margin($xxs)

    &-xs
        +margin($xs)

    &-s
        +margin($s)

    &-md
        +margin($md)

    &-lg
        +margin($lg)

    &-xl
        +margin($xl)

    &-xxl
        +margin($xxl)

    &-balance

        &-xxs
            +marginBalance($xxs)

        &-xs
            +marginBalance($xs)

        &-s
            +marginBalance($s)

        &-md
            +marginBalance($md)

        &-lg
            +marginBalance($lg)

        &-xl
            +marginBalance($xl)

        &-xxl
            +marginBalance($xxl)

    &-none
        margin: 0

.leto-mx
    +marginX($md)

    &-xxs
        +marginX($xxs)

    &-xs
        +marginX($xs)

    &-s
        +marginX($s)

    &-md
        +marginX($md)

    &-lg
        +marginX($lg)

    &-xl
        +marginX($xl)

    &-xxl
        +marginX($xxl)
  
.leto-my
    +marginY($md)

    &-xxs
        +marginY($xxs)

    &-xs
        +marginY($xs)

    &-s
        +marginY($s)

    &-md
        +marginY($md)

    &-lg
        +marginY($lg)

    &-xl
        +marginY($xl)

    &-xxl
        +marginY($xxl)

.leto-mt
    +marginTop($md)

    &-xxs
        +marginTop($xxs)

    &-xs
        +marginTop($xs)

    &-s
        +marginTop($s)

    &-md
        +marginTop($md)

    &-lg
        +marginTop($lg)

    &-xl
        +marginTop($xl)

    &-xxl
        +marginTop($xxl)

.leto-ml  
    +marginLeft($md)

    &-xxs
        +marginLeft($xxs)

    &-xs
        +marginLeft($xs)

    &-s
        +marginLeft($s)

    &-md
        +marginLeft($md)

    &-lg
        +marginLeft($lg)

    &-xl
        +marginLeft($xl)

    &-xxl
        +marginLeft($xxl)

.leto-mr
    +marginRight($md)

    &-xxs
        +marginRight($xxs)

    &-xs
        +marginRight($xs)

    &-s
        +marginRight($s)

    &-md
        +marginRight($md)

    &-lg
        +marginRight($lg)

    &-xl
        +marginRight($xl)

    &-xxl
        +marginRight($xxl)

.leto-mb
    +marginBottom($md)

    &-xxs
        +marginBottom($xxs)

    &-xs
        +marginBottom($xs)

    &-s
        +marginBottom($s)

    &-md
        +marginBottom($md)

    &-lg
        +marginBottom($lg)

    &-xl
        +marginBottom($xl)

    &-xxl
        +marginBottom($xxl)


// Padding

=padding($value)
    padding: $value

=paddingX($value)
    padding-left: $value
    padding-right: $value

=paddingY($value)
    padding-top: $value
    padding-bottom: $value

=paddingTop($value)
    padding-top: $value

=paddingLeft($value)
    padding-left: $value

=paddingRight($value)
    padding-right: $value

=paddingBottom($value)
    padding-bottom: $value

.leto-p
    +padding($md)

    &-xxs
        +padding($xxs)

    &-xs
        +padding($xs)

    &-s
        +padding($s)

    &-md
        +padding($md)

    &-lg
        +padding($lg)

    &-xl
        +padding($xl)

    &-xxl
        +padding($xxl)

    &-none
        padding: 0

.leto-px
    +paddingX($md)

    &-xxs
        +paddingX($xxs)

    &-xs
        +paddingX($xs)

    &-s
        +paddingX($s)

    &-md
        +paddingX($md)

    &-lg
        +paddingX($lg)

    &-xl
        +paddingX($xl)

    &-xxl
        +paddingX($xxl)
  
.leto-py
    +paddingY($md)

    &-xxs
        +paddingY($xxs)

    &-xs
        +paddingY($xs)

    &-s
        +paddingY($s)

    &-md
        +paddingY($md)

    &-lg
        +paddingY($lg)

    &-xl
        +paddingY($xl)

    &-xxl
        +paddingY($xxl)

.leto-pt
    +paddingTop($md)

    &-xxs
        +paddingTop($xxs)

    &-xs
        +paddingTop($xs)

    &-s
        +paddingTop($s)

    &-md
        +paddingTop($md)

    &-lg
        +paddingTop($lg)

    &-xl
        +paddingTop($xl)

    &-xxl
        +paddingTop($xxl)

.leto-pl  
    +paddingLeft($md)

    &-xxs
        +paddingLeft($xxs)

    &-xs
        +paddingLeft($xs)

    &-s
        +paddingLeft($s)

    &-md
        +paddingLeft($md)

    &-lg
        +paddingLeft($lg)

    &-xl
        +paddingLeft($xl)

    &-xxl
        +paddingLeft($xxl)

.leto-pr
    +paddingRight($md)

    &-xxs
        +paddingRight($xxs)

    &-xs
        +paddingRight($xs)

    &-s
        +paddingRight($s)

    &-md
        +paddingRight($md)

    &-lg
        +paddingRight($lg)

    &-xl
        +paddingRight($xl)

    &-xxl
        +paddingRight($xxl)

.leto-pb
    +paddingBottom($md)

    &-xxs
        +paddingBottom($xxs)

    &-xs
        +paddingBottom($xs)

    &-s
        +paddingBottom($s)

    &-md
        +paddingBottom($md)

    &-lg
        +paddingBottom($lg)

    &-xl
        +paddingBottom($xl)

    &-xxl
        +paddingBottom($xxl)


// Border

.leto-border
    border: 1px solid $colorMedium

    &-top
        border: none
        border-top: 1px solid $colorMedium

    &-left
        border: none
        border-left: 1px solid $colorMedium

    &-right
        border: none
        border-right: 1px solid $colorMedium

    &-bottom
        border: none
        border-bottom: 1px solid $colorMedium

    &-none
        border: none


// Darkmode

.leto-darkmode
    background-color: $colorDark
    color: $colorLight 

    &-bg
        background-color: $colorDark

    &-text
        color: $colorLight


// Font

=fontWeightandStyle($size)

    &-light
        font-size: $size
        font-weight: $fontWeightLight

        &-italic
            font-size: $size
            font-weight: $fontWeightLight
            font-style: italic

    &-regular
        font-size: $size
        font-weight: $fontWeightRegular

        &-italic
            font-size: $size
            font-weight: $fontWeightRegular
            font-style: italic

    &-medium
        font-size: $size
        font-weight: $fontWeightMedium

        &-italic
            font-size: $size
            font-weight: $fontWeightMedium
            font-style: italic

    &-bold
        font-size: $size
        font-weight: $fontWeightBold

        &-italic
            font-size: $size
            font-weight: $fontWeightBold
            font-style: italic

    &-black
        font-size: $size
        font-weight: $fontWeightBlack

        &-italic
            font-size: $size
            font-weight: $fontWeightBlack
            font-style: italic

.leto-font

    &-xxs
        font-size: $fontSizeXXS

        +fontWeightandStyle($fontSizeXXS)

    &-xs
        font-size: $fontSizeXS

        +fontWeightandStyle($fontSizeXS)

    &-s
        font-size: $fontSizeS

        +fontWeightandStyle($fontSizeS)

    &-md
        font-size: $fontSizeMD

        +fontWeightandStyle($fontSizeMD)

    &-lg
        font-size: $fontSizeLG

        +fontWeightandStyle($fontSizeLG)

    &-xl
        font-size: $fontSizeXL

        +fontWeightandStyle($fontSizeXL)

    &-xxl
        font-size: $fontSizeXXL

        +fontWeightandStyle($fontSizeXXL)

        &-italic
            font-style: italic

    &-weight

        &-light
            font-weight: $fontWeightLight

        &-regular
            font-weight: $fontWeightRegular

        &-medium
            font-weight: $fontWeightMedium

        &-bold
            font-weight: $fontWeightBold

        &-black
            font-weight: $fontWeightBlack

    &-italic
        font-style: italic

// Color

.leto-color

    &-bg

        &-light
            background-color: $colorLight

        &-lightMedium
            background-color: $colorLightMedium

        &-medium
            background-color: $colorMedium

        &-dark
            background-color: $colorDark

        &-yellow
            background-color: $colorYellow

        &-orange
            background-color: $colorOrange

        &-red
            background-color: $colorRed

        &-purple
            background-color: $colorPurple

        &-blue
            background-color: $colorBlue

        &-mint
            background-color: $colorMint

        &-green
            background-color: $colorGreen

    &-text

        &-light
            color: $colorLight

        &-lightMedium
            color: $colorLightMedium

        &-medium
            color: $colorMedium

        &-dark
            color: $colorDark

        &-yellow
            color: $colorYellow

        &-orange
            color: $colorOrange

        &-red
            color: $colorRed

        &-purple
            color: $colorPurple

        &-blue
            color: $colorBlue

        &-mint
            color: $colorMint

        &-green
            color: $colorGreen

    &-border

        &-light
            border-color: $colorLight

        &-lightMedium
            border-color: $colorLightMedium

        &-medium
            border-color: $colorMedium

        &-dark
            border-color: $colorDark

        &-yellow
            border-color: $colorYellow

        &-orange
            border-color: $colorOrange

        &-red
            border-color: $colorRed

        &-purple
            border-color: $colorPurple

        &-blue
            border-color: $colorBlue

        &-mint
            border-color: $colorMint

        &-green
            border-color: $colorGreen


// Index

.leto-index

    &-1
        z-index: 1

    &-2
        z-index: 2

    &-3
        z-index: 3

    &-4
        z-index: 4

    &-5
        z-index: 5

    &-6
        z-index: 6

    &-7
        z-index: 7

    &-8
        z-index: 8

    &-9
        z-index: 9

    &-10
        z-index: 10


// Frame

.leto-frame
    width: 100%
    padding: 16px

    &-full 
        width: 100%
        padding: 16px
        
        .leto-container
            position: relative
            width: 100%

// Edge

.leto-edge-wrapper

    &-top
        width: 100%
        height: auto
        top: 0
        left: 0
        flex-direction: column
        display: flex

        &-fixed
            position: fixed
            width: 100%
            height: 100%
            top: 0
            left: 0
            flex-direction: column
            display: flex

    &-left
        width: auto
        height: 100%
        top: 0
        left: 0
        flex-direction: row
        display: fFlex

        &-fixed
            position: fixed
            width: 100%
            height: 100%
            top: 0
            left: 0
            flex-direction: row
            display: flex

    &-right
        width: auto
        height: 100%
        top: 0
        right: 0
        flex-direction: row
        display: flex

        &-fixed
            position: fixed
            width: 100%
            height: 100%
            top: 0
            right: 0
            flex-direction: row
            display: flex

    &-bottom
        width: 100%
        height: auto
        bottom: 0
        left: 0
        flex-direction: column
        display: flex

        &-fixed
            position: fixed
            width: 100%
            height: 100%
            bottom: 0
            left: 0
            flex-direction: column
            display: flex

@media (min-width: $pc) 

    .leto-edge-wrapper

        &-top, &-bottom
            height: auto

            &-fixed
                height: auto

        &-left, &-right
            width: auto

            &-fixed
                width: auto
    
.leto-edge

    &-top
        width: 100%
        flex-direction: row
        display: flex

    &-left
        height: 100%
        flex-direction: column
        display: flex

    &-right
        height: 100%
        flex-direction: column
        display: flex

    &-bottom
        width: 100%
        flex-direction: row
        display: flex


.leto-subedge

    &-top
        height: 100%
        height: 100%
        justify-content: flex-start
        flex-direction: row
        display: flex

        &-c
            height: 100%
            flex-direction: row
            display: flex
    
    &-left
        height: 100%
        width: 100%
        justify-content: flex-start
        flex-direction: column
        display: flex

        &-c
            height: 100%
            flex-direction: column
            display: flex

    &-right
        height: 100%
        width: 100%
        justify-content: flex-end
        flex-direction: column
        display: flex

        &-c
            height: 100%
            flex-direction: column
            display: flex

    &-bottom
        height: 100%
        height: 100%
        align-items: flex-end
        flex-direction: row
        display: flex

        &-c
            height: 100%
            flex-direction: row
            display: flex

@media (min-width: $pc)   

    .leto-subedge

        &-top, &-bottom
            min-height: 300px
            height: 25vh
            
        &-left, &-right
            min-width: 300px
            width: 25vw


// Backdrop

.leto-backdrop
    position: fixed
    left: 0
    top: 0
    display: block
    height: 100%
    width: 100%
    background: rgba(0, 0, 0, .25)


// Container

.leto-container
    position: relative
    width: 75vw
    margin-left: auto
    margin-right: auto

    
// Bubble

.leto-bubble-group

    &-h
        flex-direction: row
        display: flex

    &-v
        flex-direction: column
        display: flex

.leto-bubble-wrapper
    text-decoration: none
    text-align: center
    overflow: hidden
    text-overflow: ellipsis
    flex-direction: column
    display: flex
    
.leto-bubble-label
    max-width: $md

    &-xxs
        max-width: $xxs * 2

    &-xs
        max-width: $xs * 2

    &-s
        max-width: $s * 2

    &-md
        max-width: $md * 2

    &-lg
        max-width: $lg * 2

    &-xl
        max-width: $xl * 2

    &-xxl
        max-width: $xxl * 2

=buggle($value)
    height: $value * 2
    width: $value * 2
    font-size: $value * .66
    border: 1px solid $colorMedium
    border-radius: $value * 2
    text-align: center
    flex-direction: column
    align-items: center
    justify-content: center
    flex-shrink: 0
    display: inline-flex

    img
        max-height: auto
        max-width: $value * .66    

.leto-bubble
    +buggle($md)

    &-xxs
        +buggle($xxs)

    &-xs
        +buggle($xs)

    &-s
        +buggle($s)

    &-md
        +buggle($md)

    &-lg
        +buggle($lg)

    &-xl
        +buggle($xl)

    &-xxl
        +buggle($xxl)

    &-c
        text-align: center
        flex-direction: column
        align-items: center
        justify-content: center
        display: inline-flex   

    &.active
        border: 3px solid #FFFFFF
        box-shadow: 0 0 0 2px $colorMedium


// Input

=input($width, $height)
    background-color: $colorLightMedium
    height: $height * 2
    width: $width
    font-size: 18px
    border: 1px solid $colorMedium
    border-radius: 100px
    padding: 9px 20px

.leto-input
    +input(auto, $md)

    &-half
        +input(50%, $md)

        &-xxs
            +input(50%, $xxs)

        &-xs
            +input(50%, $xs)

        &-s
            +input(50%, $s)

        &-md
            +input(50%, $md)

        &-lg
            +input(50%, $lg)

        &-xl
            +input(50%, $xl)

        &-xxl
            +input(50%, $xxl)

    &-full
        +input(100%, $md)

        &-xxs
            +input(100%, $xxs)

        &-xs
            +input(100%, $xs)

        &-s
            +input(100%, $s)

        &-md
            +input(100%, $md)

        &-lg
            +input(100%, $lg)

        &-xl
            +input(100%, $xl)

        &-xxl
            +input(100%, $xxl)


// Search

=search($width, $height)
    width: $width
    height: $height * 2
    font-size: 18px
    border: 1px solid $colorMedium
    border-radius: 100px
    padding: 9px 20px

.leto-search
    +search(auto, $md)

    &-half
        +search(50%, $md)

        &-xxs
            +search(50%, $xxs)

        &-xs
            +search(50%, $xs)

        &-s
            +search(50%, $s)

        &-md
            +search(50%, $md)

        &-lg
            +search(50%, $lg)

        &-xl
            +search(50%, $xl)

        &-xxl
            +search(50%, $xxl)

    &-full
        +search(100%, $md)

        &-xxs
            +search(100%, $xxs)

        &-xs
            +search(100%, $xs)

        &-s
            +search(100%, $s)

        &-md
            +search(100%, $md)

        &-lg
            +search(100%, $lg)

        &-xl
            +search(100%, $xl)

        &-xxl
            +search(100%, $xxl)


// Card

.leto-card-wrapper
    text-decoration: none
    text-align: center
    overflow: hidden
    text-overflow: ellipsis
    flex-direction: column
    display: flex

.leto-card-label
    max-width: 100%

    &-xxs
        max-width: $xxs * 10

    &-xs
        max-width: $xs * 10

    &-s
        max-width: $s * 10

    &-md
        max-width: $md * 10

    &-lg
        max-width: $lg * 10

    &-xl
        max-width: $xl * 10

    &-xxl
        max-width: $xxl * 10

=card($value)
    position: relative
    width: $value*10
    min-height: 50px
    border: 1px solid $colorMedium
    border-radius: 10px
    display: inline-block
    overflow: hidden

=cardMasonry()
    position: relative
    min-height: 50px
    border: 1px solid $colorMedium
    border-radius: 10px
    display: inline-block
    overflow: hidden

=cardSquare($value)
    position: relative
    width: $value*10
    height: $value*10
    border: 1px solid $colorMedium
    border-radius: 10px
    display: inline-block
    overflow: hidden

.leto-card
    +card($md)

    &-xxs
      +card($xxs)  

    &-xs
      +card($xs)

    &-s
      +card($s)  

    &-md
      +card($md) 

    &-lg
      +card($lg)

    &-xl
      +card($xl) 

    &-xxl
      +card($xxl) 

    &-masonry 
        +cardMasonry()       

    &-square 

        &-xxs
            +cardSquare($xxs)  

        &-xs
            +cardSquare($xs)

        &-s
            +cardSquare($s)  

        &-md
            +cardSquare($md) 

        &-lg
            +cardSquare($lg)

        &-xl
            +cardSquare($xl) 

        &-xxl
            +cardSquare($xxl)         

.leto-card-image
    max-height: auto
    width: 100%

.leto-card-header
    padding: 10px
    align-items: center
    flex-direction: row
    display: flex

    &-c
        flex-direction: row
        display: flex

    &:after
        clear: both
        display: block
        content: ''
        
.leto-card-link
    text-decoration: none

.leto-card-content
    padding: 10px

    &-c


// Pile

.leto-pile-item
    padding: 15px
    border: 1px solid $colorMedium
    border-radius: 10px

.leto-pile

    > *
        display: block

    &-empty
        min-width: 300px
        width: 100%
        border-radius: 5px
        padding: 15px
        display: block

.leto-pile-header
    align-items: center
    flex-direction: row
    display: flex

    &-c
        flex-direction: row
        display: flex

    &:after
        clear: both
        display: block
        content: ''

// Button

.leto-button
    text-decoration: none
    text-align: center
    border: 1px solid $colorMedium
    border-radius: 25px
    padding: 8px 13px
    display: inline-block

    &-c
        text-decoration: none
        text-align: center
        display: inline-block       

// Badge

.leto-badge
    background: $colorLightMedium
    padding: 5px 10px
    border-radius: 100px
    white-space: nowrap
    display: inline-block

    &-c
        white-space: nowrap
        display: inline-block


// Table

.leto-table
    border-collapse: separate
    border-spacing: 0 15px
    width: 100%

    tr:not(.leto-table-header)

        th
            border-top: 1px solid $colorMedium
            border-bottom: 1px solid $colorMedium
            padding: 15px

        td
            border-top: 1px solid $colorMedium
            border-bottom: 1px solid $colorMedium
            padding: 15px

    tr:not(.leto-table-header)

        td:first-child, th:first-child
            border-left: 1px solid $colorMedium
            border-top-left-radius: 5px
            border-bottom-left-radius: 5px

        td:last-child, th:last-child
            border-right: 1px solid $colorMedium
            border-top-right-radius: 5px
            border-bottom-right-radius: 5px

.leto-table-header

    td, th
        padding-left: 15px


// Form

.leto-form

    &-left
        position: fixed
        min-width: 300px
        height: 100%
        top: 0
        left: 0
        flex-direction: column
        display: flex

    &-right
        position: fixed
        min-width: 300px
        height: 100%
        top: 0
        right: 0
        flex-direction: column
        display: flex

    @media (min-width: $pc)

        &-left, &-right
            width: 50vw

// Other

button
    background: none
    border: none

    &:focus
        outline: none

textarea:focus
    border-color: rgba(82, 168, 236, .8)
    outline: 0
    outline: thin dotted \9
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6)

input

    &[type="text"]:focus, &[type="password"]:focus, &[type="datetime"]:focus, &[type="datetime-local"]:focus, &[type="date"]:focus, &[type="month"]:focus, &[type="time"]:focus, &[type="week"]:focus, &[type="number"]:focus, &[type="email"]:focus, &[type="url"]:focus, &[type="search"]:focus, &[type="tel"]:focus, &[type="color"]:focus
        border-color: rgba(82, 168, 236, .8)
        outline: 0
        outline: thin dotted \9
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6)

.uneditable-input:focus
    border-color: rgba(82, 168, 236, .8)
    outline: 0
    outline: thin dotted \9
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6)

.scrollable-table
    display: block
    overflow-x: auto
    white-space: nowrap