.leto--frame {
  width: 100%;
}

.leto-container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

.leto-container[class*="scrollable"] {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  overflow-y: scroll;
}

.leto-container-full {
  position: relative;
  width: 100%;
  padding: 8px;
}

.leto-container-full[class*="scrollable"] {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  padding: 8px;
  overflow-y: scroll;
}

@media (min-width: 1440px) {
  .leto-container {
    position: relative;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-container {
    max-width: 1680px;
  }
}

.leto-edge-horizontal {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-vertical {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-top {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-left {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-right {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[class*="frame"] > .leto-group > .leto-container > .leto-edge-top {
  margin-top: -8px;
}

@media (max-width: 1440px) {
  [class*="frame"] > .leto-group > .leto-edge-left, [class*="frame"] > .leto-group > .leto-edge-right {
    position: -webkit-sticky;
    position: sticky;
  }
}

.leto-sub-edge-top {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-sub-edge-left {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-sub-edge-right {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-sub-edge-bottom {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1440px) {
  .leto-sub-edge-top, .leto-sub-edge-bottom {
    min-height: 300px;
    height: 25vh;
  }
  .leto-sub-edge-left, .leto-sub-edge-right {
    min-width: 300px;
    width: 25vw;
  }
}

.leto-masonry {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 0;
          column-gap: 0;
}

@media (min-width: 600px) {
  .leto-masonry {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (min-width: 1440px) {
  .leto-masonry {
    -webkit-column-count: 4;
            column-count: 4;
  }
}

.leto-masonry > * {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  counter-increment: item-counter;
}

.leto-masonry-2 {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 0;
          column-gap: 0;
}

@media (min-width: 600px) {
  .leto-masonry-2 {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (min-width: 1440px) {
  .leto-masonry-2 {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

.leto-masonry-2 > * {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  counter-increment: item-counter;
}

.leto-masonry-3 {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 0;
          column-gap: 0;
}

@media (min-width: 600px) {
  .leto-masonry-3 {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (min-width: 1440px) {
  .leto-masonry-3 {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

.leto-masonry-3 > * {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  counter-increment: item-counter;
}

.leto-masonry-4 {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 0;
          column-gap: 0;
}

@media (min-width: 600px) {
  .leto-masonry-4 {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (min-width: 1440px) {
  .leto-masonry-4 {
    -webkit-column-count: 4;
            column-count: 4;
  }
}

.leto-masonry-4 > * {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  counter-increment: item-counter;
}

.leto-masonry-5 {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 0;
          column-gap: 0;
}

@media (min-width: 600px) {
  .leto-masonry-5 {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (min-width: 1440px) {
  .leto-masonry-5 {
    -webkit-column-count: 5;
            column-count: 5;
  }
}

.leto-masonry-5 > * {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  counter-increment: item-counter;
}

.leto-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.leto-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.leto-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.leto-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.leto-no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.leto-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.leto-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.leto-all-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .leto-all-center-tablet {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  .leto-all-center-tablet-pc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-all-center-tablet-pc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1440px) {
  .leto-all-center-pc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-all-center-ultrawide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-all-center-super-ultrawide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.leto-group.leto-horizontal-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.leto-group.leto-horizontal-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.leto-group.leto-horizontal-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.leto-group.leto-horizontal-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leto-group.leto-horizontal-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.leto-group.leto-horizontal-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 600px) {
  .leto-group.leto-horizontal-tablet-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .leto-group.leto-horizontal-tablet-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .leto-group.leto-horizontal-tablet-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .leto-group.leto-horizontal-tablet-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .leto-group.leto-horizontal-tablet-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .leto-group.leto-horizontal-tablet-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  .leto-group.leto-horizontal-tablet-pc-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .leto-group.leto-horizontal-tablet-pc-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .leto-group.leto-horizontal-tablet-pc-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .leto-group.leto-horizontal-tablet-pc-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .leto-group.leto-horizontal-tablet-pc-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .leto-group.leto-horizontal-tablet-pc-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-group.leto-horizontal-tablet-pc-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .leto-group.leto-horizontal-tablet-pc-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .leto-group.leto-horizontal-tablet-pc-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .leto-group.leto-horizontal-tablet-pc-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .leto-group.leto-horizontal-tablet-pc-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .leto-group.leto-horizontal-tablet-pc-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1440px) {
  .leto-group.leto-horizontal-pc-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .leto-group.leto-horizontal-pc-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .leto-group.leto-horizontal-pc-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .leto-group.leto-horizontal-pc-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .leto-group.leto-horizontal-pc-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .leto-group.leto-horizontal-pc-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-group.leto-horizontal-ultrawide-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .leto-group.leto-horizontal-ultrawide-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .leto-group.leto-horizontal-ultrawide-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .leto-group.leto-horizontal-ultrawide-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .leto-group.leto-horizontal-ultrawide-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .leto-group.leto-horizontal-ultrawide-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-group.leto-horizontal-super-ultrawide-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .leto-group.leto-horizontal-super-ultrawide-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .leto-group.leto-horizontal-super-ultrawide-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .leto-group.leto-horizontal-super-ultrawide-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .leto-group.leto-horizontal-super-ultrawide-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .leto-group.leto-horizontal-super-ultrawide-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.leto-group.leto-vertical-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.leto-group.leto-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leto-group.leto-vertical-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 600px) {
  .leto-group.leto-vertical-tablet-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .leto-group.leto-vertical-tablet-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leto-group.leto-vertical-tablet-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1024px) {
  .leto-group.leto-vertical-tablet-pc-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .leto-group.leto-vertical-tablet-pc-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leto-group.leto-vertical-tablet-pc-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-group.leto-vertical-tablet-pc-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .leto-group.leto-vertical-tablet-pc-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leto-group.leto-vertical-tablet-pc-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1440px) {
  .leto-group.leto-vertical-pc-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .leto-group.leto-vertical-pc-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leto-group.leto-vertical-pc-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-group.leto-vertical-ultrawide-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .leto-group.leto-vertical-ultrawide-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leto-group.leto-vertical-ultrawide-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-group.leto-vertical-super-ultrawide-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .leto-group.leto-vertical-super-ultrawide-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leto-group.leto-vertical-super-ultrawide-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.leto-column.leto-horizontal-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.leto-column.leto-horizontal-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leto-column.leto-horizontal-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 600px) {
  .leto-column.leto-horizontal-tablet-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .leto-column.leto-horizontal-tablet-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leto-column.leto-horizontal-tablet-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1024px) {
  .leto-column.leto-horizontal-tablet-pc-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .leto-column.leto-horizontal-tablet-pc-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leto-column.leto-horizontal-tablet-pc-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-column.leto-horizontal-tablet-pc-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .leto-column.leto-horizontal-tablet-pc-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leto-column.leto-horizontal-tablet-pc-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1440px) {
  .leto-column.leto-horizontal-pc-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .leto-column.leto-horizontal-pc-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leto-column.leto-horizontal-pc-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-column.leto-horizontal-ultrawide-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .leto-column.leto-horizontal-ultrawide-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leto-column.leto-horizontal-ultrawide-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-column.leto-horizontal-super-ultrawide-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .leto-column.leto-horizontal-super-ultrawide-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leto-column.leto-horizontal-super-ultrawide-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.leto-column.leto-vertical-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.leto-column.leto-vertical-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.leto-column.leto-vertical-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.leto-column.leto-vertical-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leto-column.leto-vertical-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.leto-column.leto-vertical-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 600px) {
  .leto-column.leto-vertical-tablet-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .leto-column.leto-vertical-tablet-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .leto-column.leto-vertical-tablet-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .leto-column.leto-vertical-tablet-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .leto-column.leto-vertical-tablet-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .leto-column.leto-vertical-tablet-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  .leto-column.leto-vertical-tablet-pc-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .leto-column.leto-vertical-tablet-pc-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .leto-column.leto-vertical-tablet-pc-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .leto-column.leto-vertical-tablet-pc-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .leto-column.leto-vertical-tablet-pc-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .leto-column.leto-vertical-tablet-pc-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-column.leto-vertical-tablet-pc-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .leto-column.leto-vertical-tablet-pc-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .leto-column.leto-vertical-tablet-pc-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .leto-column.leto-vertical-tablet-pc-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .leto-column.leto-vertical-tablet-pc-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .leto-column.leto-vertical-tablet-pc-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1440px) {
  .leto-column.leto-vertical-pc-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .leto-column.leto-vertical-pc-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .leto-column.leto-vertical-pc-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .leto-column.leto-vertical-pc-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .leto-column.leto-vertical-pc-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .leto-column.leto-vertical-pc-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-column.leto-vertical-ultrawide-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .leto-column.leto-vertical-ultrawide-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .leto-column.leto-vertical-ultrawide-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .leto-column.leto-vertical-ultrawide-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .leto-column.leto-vertical-ultrawide-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .leto-column.leto-vertical-ultrawide-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-column.leto-vertical-super-ultrawide-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .leto-column.leto-vertical-super-ultrawide-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .leto-column.leto-vertical-super-ultrawide-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .leto-column.leto-vertical-super-ultrawide-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .leto-column.leto-vertical-super-ultrawide-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .leto-column.leto-vertical-super-ultrawide-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.leto-left {
  margin-left: auto;
}

@media (min-width: 600px) {
  .leto-left-tablet {
    margin-left: auto;
  }
}

@media (min-width: 1024px) {
  .leto-left-tablet-pc {
    margin-left: auto;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-left-tablet-pc {
    margin-left: auto;
  }
}

@media (min-width: 1440px) {
  .leto-left-pc {
    margin-left: auto;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-left-ultrawide {
    margin-left: auto;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-left-super-ultrawide {
    margin-left: auto;
  }
}

.leto-center {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  .leto-center-tablet {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .leto-center-tablet-pc {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-center-tablet-pc {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .leto-center-pc {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-center-ultrawide {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-center-super-ultrawide {
    margin-left: auto;
    margin-right: auto;
  }
}

.leto-right {
  margin-right: auto;
}

@media (min-width: 600px) {
  .leto-right-tablet {
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .leto-right-tablet-pc {
    margin-right: auto;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-right-tablet-pc {
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .leto-right-pc {
    margin-right: auto;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-right-ultrawide {
    margin-right: auto;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-right-super-ultrawide {
    margin-right: auto;
  }
}

.leto-group > .leto-left {
  margin-left: 0;
  margin-right: auto;
}

@media (min-width: 600px) {
  .leto-group > .leto-left-tablet {
    margin-left: 0;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .leto-group > .leto-left-tablet-pc {
    margin-left: 0;
    margin-right: auto;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-group > .leto-left-tablet-pc {
    margin-left: 0;
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .leto-group > .leto-left-pc {
    margin-left: 0;
    margin-right: auto;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-group > .leto-left-ultrawide {
    margin-left: 0;
    margin-right: auto;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-group > .leto-left-super-ultrawide {
    margin-left: 0;
    margin-right: auto;
  }
}

.leto-group > .leto-center {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  .leto-group > .leto-center-tablet {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .leto-group > .leto-center-tablet-pc {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-group > .leto-center-tablet-pc {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .leto-group > .leto-center-pc {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-group > .leto-center-ultrawide {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-group > .leto-center-super-ultrawide {
    margin-left: auto;
    margin-right: auto;
  }
}

.leto-group > .leto-right {
  margin-left: auto;
  margin-right: 0;
}

@media (min-width: 600px) {
  .leto-group > .leto-right-tablet {
    margin-left: auto;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .leto-group > .leto-right-tablet-pc {
    margin-left: auto;
    margin-right: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-group > .leto-right-tablet-pc {
    margin-left: auto;
    margin-right: 0;
  }
}

@media (min-width: 1440px) {
  .leto-group > .leto-right-pc {
    margin-left: auto;
    margin-right: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-group > .leto-right-ultrawide {
    margin-left: auto;
    margin-right: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-group > .leto-right-super-ultrawide {
    margin-left: auto;
    margin-right: 0;
  }
}

.leto-full {
  width: 100%;
  padding: 8px;
}

.leto-full > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-full-tablet {
    width: 100%;
    padding: 8px;
  }
  .leto-full-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-full-tablet-pc {
    width: 100%;
    padding: 8px;
  }
  .leto-full-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-full-tablet-pc {
    width: 100%;
    padding: 8px;
  }
  .leto-full-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-full-pc {
    width: 100%;
    padding: 8px;
  }
  .leto-full-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-full-ultrawide {
    width: 100%;
    padding: 8px;
  }
  .leto-full-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-full-super-ultrawide {
    width: 100%;
    padding: 8px;
  }
  .leto-full-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-seven-eighths {
  width: 87.5%;
  padding: 8px;
}

.leto-seven-eighths > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-seven-eighths-tablet {
    width: 87.5%;
    padding: 8px;
  }
  .leto-seven-eighths-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-seven-eighths-tablet-pc {
    width: 87.5%;
    padding: 8px;
  }
  .leto-seven-eighths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-seven-eighths-tablet-pc {
    width: 87.5%;
    padding: 8px;
  }
  .leto-seven-eighths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-seven-eighths-pc {
    width: 87.5%;
    padding: 8px;
  }
  .leto-seven-eighths-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-seven-eighths-ultrawide {
    width: 87.5%;
    padding: 8px;
  }
  .leto-seven-eighths-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-seven-eighths-super-ultrawide {
    width: 87.5%;
    padding: 8px;
  }
  .leto-seven-eighths-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-five-sixths {
  width: calc((100% / 6) * 5);
  padding: 8px;
}

.leto-five-sixths > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-five-sixths-tablet {
    width: calc((100% / 6) * 5);
    padding: 8px;
  }
  .leto-five-sixths-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-five-sixths-tablet-pc {
    width: calc((100% / 6) * 5);
    padding: 8px;
  }
  .leto-five-sixths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-five-sixths-tablet-pc {
    width: calc((100% / 6) * 5);
    padding: 8px;
  }
  .leto-five-sixths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-five-sixths-pc {
    width: calc((100% / 6) * 5);
    padding: 8px;
  }
  .leto-five-sixths-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-five-sixths-ultrawide {
    width: calc((100% / 6) * 5);
    padding: 8px;
  }
  .leto-five-sixths-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-five-sixths-super-ultrawide {
    width: calc((100% / 6) * 5);
    padding: 8px;
  }
  .leto-five-sixths-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-four-fifths {
  width: 80%;
  padding: 8px;
}

.leto-four-fifths > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-four-fifths-tablet {
    width: 80%;
    padding: 8px;
  }
  .leto-four-fifths-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-four-fifths-tablet-pc {
    width: 80%;
    padding: 8px;
  }
  .leto-four-fifths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-four-fifths-tablet-pc {
    width: 80%;
    padding: 8px;
  }
  .leto-four-fifths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-four-fifths-pc {
    width: 80%;
    padding: 8px;
  }
  .leto-four-fifths-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-four-fifths-ultrawide {
    width: 80%;
    padding: 8px;
  }
  .leto-four-fifths-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-four-fifths-super-ultrawide {
    width: 80%;
    padding: 8px;
  }
  .leto-four-fifths-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-three-quaters {
  width: 75%;
  padding: 8px;
}

.leto-three-quaters > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-three-quaters-tablet {
    width: 75%;
    padding: 8px;
  }
  .leto-three-quaters-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-three-quaters-tablet-pc {
    width: 75%;
    padding: 8px;
  }
  .leto-three-quaters-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-three-quaters-tablet-pc {
    width: 75%;
    padding: 8px;
  }
  .leto-three-quaters-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-three-quaters-pc {
    width: 75%;
    padding: 8px;
  }
  .leto-three-quaters-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-three-quaters-ultrawide {
    width: 75%;
    padding: 8px;
  }
  .leto-three-quaters-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-three-quaters-super-ultrawide {
    width: 75%;
    padding: 8px;
  }
  .leto-three-quaters-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-two-thirds {
  width: calc((100% / 3) * 2);
  padding: 8px;
}

.leto-two-thirds > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-two-thirds-tablet {
    width: calc((100% / 3) * 2);
    padding: 8px;
  }
  .leto-two-thirds-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-two-thirds-tablet-pc {
    width: calc((100% / 3) * 2);
    padding: 8px;
  }
  .leto-two-thirds-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-two-thirds-tablet-pc {
    width: calc((100% / 3) * 2);
    padding: 8px;
  }
  .leto-two-thirds-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-two-thirds-pc {
    width: calc((100% / 3) * 2);
    padding: 8px;
  }
  .leto-two-thirds-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-two-thirds-ultrawide {
    width: calc((100% / 3) * 2);
    padding: 8px;
  }
  .leto-two-thirds-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-two-thirds-super-ultrawide {
    width: calc((100% / 3) * 2);
    padding: 8px;
  }
  .leto-two-thirds-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-five-eighths {
  width: 62.5%;
  padding: 8px;
}

.leto-five-eighths > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-five-eighths-tablet {
    width: 62.5%;
    padding: 8px;
  }
  .leto-five-eighths-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-five-eighths-tablet-pc {
    width: 62.5%;
    padding: 8px;
  }
  .leto-five-eighths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-five-eighths-tablet-pc {
    width: 62.5%;
    padding: 8px;
  }
  .leto-five-eighths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-five-eighths-pc {
    width: 62.5%;
    padding: 8px;
  }
  .leto-five-eighths-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-five-eighths-ultrawide {
    width: 62.5%;
    padding: 8px;
  }
  .leto-five-eighths-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-five-eighths-super-ultrawide {
    width: 62.5%;
    padding: 8px;
  }
  .leto-five-eighths-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-three-fifths {
  width: 60%;
  padding: 8px;
}

.leto-three-fifths > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-three-fifths-tablet {
    width: 60%;
    padding: 8px;
  }
  .leto-three-fifths-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-three-fifths-tablet-pc {
    width: 60%;
    padding: 8px;
  }
  .leto-three-fifths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-three-fifths-tablet-pc {
    width: 60%;
    padding: 8px;
  }
  .leto-three-fifths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-three-fifths-pc {
    width: 60%;
    padding: 8px;
  }
  .leto-three-fifths-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-three-fifths-ultrawide {
    width: 60%;
    padding: 8px;
  }
  .leto-three-fifths-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-three-fifths-super-ultrawide {
    width: 60%;
    padding: 8px;
  }
  .leto-three-fifths-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-half {
  width: 50%;
  padding: 8px;
}

.leto-half > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-half-tablet {
    width: 50%;
    padding: 8px;
  }
  .leto-half-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-half-tablet-pc {
    width: 50%;
    padding: 8px;
  }
  .leto-half-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-half-tablet-pc {
    width: 50%;
    padding: 8px;
  }
  .leto-half-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-half-pc {
    width: 50%;
    padding: 8px;
  }
  .leto-half-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-half-ultrawide {
    width: 50%;
    padding: 8px;
  }
  .leto-half-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-half-super-ultrawide {
    width: 50%;
    padding: 8px;
  }
  .leto-half-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-three-sixths {
  width: calc((100% / 6) * 3);
  padding: 8px;
}

.leto-three-sixths > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-three-sixths-tablet {
    width: calc((100% / 6) * 3);
    padding: 8px;
  }
  .leto-three-sixths-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-three-sixths-tablet-pc {
    width: calc((100% / 6) * 3);
    padding: 8px;
  }
  .leto-three-sixths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-three-sixths-tablet-pc {
    width: calc((100% / 6) * 3);
    padding: 8px;
  }
  .leto-three-sixths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-three-sixths-pc {
    width: calc((100% / 6) * 3);
    padding: 8px;
  }
  .leto-three-sixths-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-three-sixths-ultrawide {
    width: calc((100% / 6) * 3);
    padding: 8px;
  }
  .leto-three-sixths-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-three-sixths-super-ultrawide {
    width: calc((100% / 6) * 3);
    padding: 8px;
  }
  .leto-three-sixths-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-two-fifths {
  width: 40%;
  padding: 8px;
}

.leto-two-fifths > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-two-fifths-tablet {
    width: 40%;
    padding: 8px;
  }
  .leto-two-fifths-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-two-fifths-tablet-pc {
    width: 40%;
    padding: 8px;
  }
  .leto-two-fifths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-two-fifths-tablet-pc {
    width: 40%;
    padding: 8px;
  }
  .leto-two-fifths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-two-fifths-pc {
    width: 40%;
    padding: 8px;
  }
  .leto-two-fifths-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-two-fifths-ultrawide {
    width: 40%;
    padding: 8px;
  }
  .leto-two-fifths-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-two-fifths-super-ultrawide {
    width: 40%;
    padding: 8px;
  }
  .leto-two-fifths-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-three-eighths {
  width: 37.5%;
  padding: 8px;
}

.leto-three-eighths > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-three-eighths-tablet {
    width: 37.5%;
    padding: 8px;
  }
  .leto-three-eighths-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-three-eighths-tablet-pc {
    width: 37.5%;
    padding: 8px;
  }
  .leto-three-eighths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-three-eighths-tablet-pc {
    width: 37.5%;
    padding: 8px;
  }
  .leto-three-eighths-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-three-eighths-pc {
    width: 37.5%;
    padding: 8px;
  }
  .leto-three-eighths-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-three-eighths-ultrawide {
    width: 37.5%;
    padding: 8px;
  }
  .leto-three-eighths-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-three-eighths-super-ultrawide {
    width: 37.5%;
    padding: 8px;
  }
  .leto-three-eighths-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-third {
  width: calc(100% / 3);
  padding: 8px;
}

.leto-third > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-third-tablet {
    width: calc(100% / 3);
    padding: 8px;
  }
  .leto-third-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-third-tablet-pc {
    width: calc(100% / 3);
    padding: 8px;
  }
  .leto-third-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-third-tablet-pc {
    width: calc(100% / 3);
    padding: 8px;
  }
  .leto-third-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-third-pc {
    width: calc(100% / 3);
    padding: 8px;
  }
  .leto-third-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-third-ultrawide {
    width: calc(100% / 3);
    padding: 8px;
  }
  .leto-third-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-third-super-ultrawide {
    width: calc(100% / 3);
    padding: 8px;
  }
  .leto-third-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-quater {
  width: 25%;
  padding: 8px;
}

.leto-quater > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-quater-tablet {
    width: 25%;
    padding: 8px;
  }
  .leto-quater-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-quater-tablet-pc {
    width: 25%;
    padding: 8px;
  }
  .leto-quater-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-quater-tablet-pc {
    width: 25%;
    padding: 8px;
  }
  .leto-quater-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-quater-pc {
    width: 25%;
    padding: 8px;
  }
  .leto-quater-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-quater-ultrawide {
    width: 25%;
    padding: 8px;
  }
  .leto-quater-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-quater-super-ultrawide {
    width: 25%;
    padding: 8px;
  }
  .leto-quater-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-fifth {
  width: 20%;
  padding: 8px;
}

.leto-fifth > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-fifth-tablet {
    width: 20%;
    padding: 8px;
  }
  .leto-fifth-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-fifth-tablet-pc {
    width: 20%;
    padding: 8px;
  }
  .leto-fifth-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-fifth-tablet-pc {
    width: 20%;
    padding: 8px;
  }
  .leto-fifth-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-fifth-pc {
    width: 20%;
    padding: 8px;
  }
  .leto-fifth-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-fifth-ultrawide {
    width: 20%;
    padding: 8px;
  }
  .leto-fifth-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-fifth-super-ultrawide {
    width: 20%;
    padding: 8px;
  }
  .leto-fifth-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-sixth {
  width: calc(100% / 6);
  padding: 8px;
}

.leto-sixth > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-sixth-tablet {
    width: calc(100% / 6);
    padding: 8px;
  }
  .leto-sixth-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-sixth-tablet-pc {
    width: calc(100% / 6);
    padding: 8px;
  }
  .leto-sixth-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-sixth-tablet-pc {
    width: calc(100% / 6);
    padding: 8px;
  }
  .leto-sixth-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-sixth-pc {
    width: calc(100% / 6);
    padding: 8px;
  }
  .leto-sixth-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-sixth-ultrawide {
    width: calc(100% / 6);
    padding: 8px;
  }
  .leto-sixth-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-sixth-super-ultrawide {
    width: calc(100% / 6);
    padding: 8px;
  }
  .leto-sixth-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-eighth {
  width: 12.5%;
  padding: 8px;
}

.leto-eighth > * {
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .leto-eighth-tablet {
    width: 12.5%;
    padding: 8px;
  }
  .leto-eighth-tablet > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .leto-eighth-tablet-pc {
    width: 12.5%;
    padding: 8px;
  }
  .leto-eighth-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) and ((pointer: coarse)) {
  .leto-eighth-tablet-pc {
    width: 12.5%;
    padding: 8px;
  }
  .leto-eighth-tablet-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .leto-eighth-pc {
    width: 12.5%;
    padding: 8px;
  }
  .leto-eighth-pc > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-eighth-ultrawide {
    width: 12.5%;
    padding: 8px;
  }
  .leto-eighth-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

@media (min-aspect-ratio: 32 / 9) and (min-width: 1921px) {
  .leto-eighth-super-ultrawide {
    width: 12.5%;
    padding: 8px;
  }
  .leto-eighth-super-ultrawide > * {
    width: 100%;
    margin: 0;
  }
}

.leto-no-shrink {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.leto-space {
  width: 100%;
  height: calc($standardSize * 8);
}

.leto-space-xxs {
  width: 100%;
  height: calc($xxs * 8);
}

.leto-space-xs {
  width: 100%;
  height: calc($xs * 8);
}

.leto-space-sm {
  width: 100%;
  height: calc($sm * 8);
}

.leto-space-md {
  width: 100%;
  height: calc($md * 8);
}

.leto-space-lg {
  width: 100%;
  height: calc($lg * 8);
}

.leto-space-xl {
  width: 100%;
  height: calc($xl * 8);
}

.leto-space-xxl {
  width: 100%;
  height: calc($xxl * 8);
}
