.leto-frame-theme-custom {
  padding: 0;
}

.leto-frame-theme-custom-full {
  padding: 0;
}

.leto-frame-theme-custom h1 {
  margin: 0;
}

.leto-frame-theme-custom h2, .leto-frame-theme-custom h3 {
  margin: 0;
}

.leto-frame-theme-custom h4, .leto-frame-theme-custom h5 {
  margin: 0;
}

.leto-frame-theme-custom p, .leto-frame-theme-custom b {
  margin: 0;
}

.leto-frame-theme-custom .leto-bubble-label {
  max-width: 48px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leto-frame-theme-custom .leto-bubble-label-xxs {
  max-width: 8px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leto-frame-theme-custom .leto-bubble-label-xs {
  max-width: 16px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leto-frame-theme-custom .leto-bubble-label-sm {
  max-width: 32px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leto-frame-theme-custom .leto-bubble-label-md {
  max-width: 48px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leto-frame-theme-custom .leto-bubble-label-lg {
  max-width: 64px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leto-frame-theme-custom .leto-bubble-label-xl {
  max-width: 96px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leto-frame-theme-custom .leto-bubble-label-xxl {
  max-width: 128px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leto-frame-theme-custom .leto-bubble {
  height: 48px;
  width: 48px;
  font-size: 15.84px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-frame-theme-custom .leto-bubble img {
  max-height: auto;
  max-width: 15.84px;
}

.leto-frame-theme-custom .leto-bubble-xxs {
  height: 8px;
  width: 8px;
  font-size: 2.64px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-frame-theme-custom .leto-bubble-xxs img {
  max-height: auto;
  max-width: 2.64px;
}

.leto-frame-theme-custom .leto-bubble-xs {
  height: 16px;
  width: 16px;
  font-size: 5.28px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-frame-theme-custom .leto-bubble-xs img {
  max-height: auto;
  max-width: 5.28px;
}

.leto-frame-theme-custom .leto-bubble-sm {
  height: 32px;
  width: 32px;
  font-size: 10.56px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-frame-theme-custom .leto-bubble-sm img {
  max-height: auto;
  max-width: 10.56px;
}

.leto-frame-theme-custom .leto-bubble-md {
  height: 48px;
  width: 48px;
  font-size: 15.84px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-frame-theme-custom .leto-bubble-md img {
  max-height: auto;
  max-width: 15.84px;
}

.leto-frame-theme-custom .leto-bubble-lg {
  height: 64px;
  width: 64px;
  font-size: 21.12px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-frame-theme-custom .leto-bubble-lg img {
  max-height: auto;
  max-width: 21.12px;
}

.leto-frame-theme-custom .leto-bubble-xl {
  height: 96px;
  width: 96px;
  font-size: 31.68px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-frame-theme-custom .leto-bubble-xl img {
  max-height: auto;
  max-width: 31.68px;
}

.leto-frame-theme-custom .leto-bubble-xxl {
  height: 128px;
  width: 128px;
  font-size: 42.24px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-frame-theme-custom .leto-bubble-xxl img {
  max-height: auto;
  max-width: 42.24px;
}

.leto-frame-theme-custom .leto-bubble.active {
  border: 3px solid #FFFFFF;
  -webkit-box-shadow: 0 0 0 2px #dadada;
          box-shadow: 0 0 0 2px #dadada;
}

.leto-frame-theme-custom .leto-card-label {
  max-width: 100%;
}

.leto-frame-theme-custom .leto-card-label-xxs {
  max-width: 40px;
}

.leto-frame-theme-custom .leto-card-label-xs {
  max-width: 80px;
}

.leto-frame-theme-custom .leto-card-label-sm {
  max-width: 160px;
}

.leto-frame-theme-custom .leto-card-label-md {
  max-width: 240px;
}

.leto-frame-theme-custom .leto-card-label-lg {
  max-width: 320px;
}

.leto-frame-theme-custom .leto-card-label-xl {
  max-width: 480px;
}

.leto-frame-theme-custom .leto-card-label-xxl {
  max-width: 640px;
}

.leto-frame-theme-custom .leto-card {
  position: relative;
  min-height: 50px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-card-xxs {
  position: relative;
  width: 40px;
  min-height: 50px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-card-xs {
  position: relative;
  width: 80px;
  min-height: 50px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-card-sm {
  position: relative;
  width: 160px;
  min-height: 50px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-card-md {
  position: relative;
  width: 240px;
  min-height: 50px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-card-lg {
  position: relative;
  width: 320px;
  min-height: 50px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-card-xl {
  position: relative;
  width: 480px;
  min-height: 50px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-card-xxl {
  position: relative;
  width: 640px;
  min-height: 50px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-card-square-xxs {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-card-square-xs {
  position: relative;
  width: 80px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-card-square-sm {
  position: relative;
  width: 160px;
  height: 160px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-card-square-md {
  position: relative;
  width: 240px;
  height: 240px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-card-square-lg {
  position: relative;
  width: 320px;
  height: 320px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-card-square-xl {
  position: relative;
  width: 480px;
  height: 480px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-card-square-xxl {
  position: relative;
  width: 640px;
  height: 640px;
  display: inline-block;
  overflow: hidden;
}

.leto-frame-theme-custom .leto-pile-item {
  padding: 8px;
}

.leto-frame-theme-custom .leto-button {
  text-decoration: none;
  text-align: center;
  padding: 8px 16px;
  display: inline-block;
  cursor: pointer;
}

.leto-frame-theme-custom .leto-badge {
  font-size: 12px;
  white-space: nowrap;
  padding: 4px 8px;
  display: inline-block;
}

.leto-frame-theme-custom .leto-input {
  background: none;
  height: 48px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-input-xxs {
  background: none;
  height: 8px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-input-xs {
  background: none;
  height: 16px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-input-sm {
  background: none;
  height: 32px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-input-md {
  background: none;
  height: 48px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-input-lg {
  background: none;
  height: 64px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-input-xl {
  background: none;
  height: 96px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-input-xxl {
  background: none;
  height: 128px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-search {
  background: none;
  height: 48px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-search-xxs {
  background: none;
  height: 8px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-search-xs {
  background: none;
  height: 16px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-search-sm {
  background: none;
  height: 32px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-search-md {
  background: none;
  height: 48px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-search-lg {
  background: none;
  height: 64px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-search-xl {
  background: none;
  height: 96px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-search-xxl {
  background: none;
  height: 128px;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-textarea {
  background: none;
  font-size: 16px;
  padding: 8px 16px;
}

.leto-frame-theme-custom .leto-table {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
}

.leto-frame-theme-custom .leto-table tr:not(.leto-table-header) th {
  padding: 16px;
}

.leto-frame-theme-custom .leto-table tr:not(.leto-table-header) td {
  padding: 16px;
}
/*# sourceMappingURL=leto-custom-theme.css.map */