@import '_layout-mixins.sass'


// Frame

.leto-frame
    width: 100%


// Container

.leto-container
    position: relative
    width: 100%
    margin-left: auto
    margin-right: auto
    padding: $basicPadding

    &[class*="leto-scrollable"]
        position: relative
        width: 100%
        height: 100%
        max-height: 100vh
        margin-left: auto
        margin-right: auto
        padding: $basicPadding
        overflow-y: scroll    

    &-full
        position: relative
        width: 100%
        padding: $basicPadding

        &[class*="leto-scrollable"]
            position: relative
            width: 100%
            height: 100%
            max-height: 100vh
            padding: $basicPadding
            overflow-y: scroll     

@media (min-width: $pc)

    .leto-container
        position: relative
        max-width: 1280px
        margin-left: auto
        margin-right: auto
        padding: $basicPadding

@media (min-aspect-ratio: $ultrawideRatio) and (min-width: $ultrawide)

    .leto-container
        max-width: 1680px
    

// Edge

.leto-edge

    &-horizontal
        width: 100%
        flex-direction: row
        display: flex

    &-vertical
        height: 100%
        flex-direction: column
        display: flex

    &-top
        position: sticky
        width: 100%
        top: 0
        left: 0
        flex-direction: row
        display: flex

    &-left
        position: fixed
        height: 100%
        top: 0
        left: 0
        flex-direction: column
        display: flex

    &-right
        position: fixed
        height: 100%
        top: 0
        right: 0
        flex-direction: column
        display: flex

    &-bottom
        position: fixed
        width: 100%
        bottom: 0
        left: 0
        flex-direction: row
        display: flex

[class*=leto-frame]

    > .leto-group

        > .leto-container

            > .leto-edge-top
                margin-top: -$basicPadding

@media (max-width: $pc)

    [class*=leto-frame]

        > .leto-group

           > .leto-edge-left, > .leto-edge-right
                position: sticky


// Sub-edge

.leto-sub-edge

    &-top
        position: fixed
        width: 100%
        height: 100%
        flex-direction: row
        display: flex
    
    &-left
        position: fixed
        width: 100%
        height: 100%
        flex-direction: column
        display: flex

    &-right
        position: fixed
        width: 100%
        height: 100%
        flex-direction: column
        display: flex

    &-bottom
        position: fixed
        width: 100%
        height: 100%
        flex-direction: row
        display: flex

@media (min-width: $pc)   

    .leto-sub-edge

        &-top, &-bottom
            min-height: 300px
            height: 25vh
            
        &-left, &-right
            min-width: 300px
            width: 25vw


// Masonry

.leto-masonry
    +masonry(4)

    &-2
        +masonry(2)

    &-3
        +masonry(3)

    &-4
        +masonry(4) 

    &-5
        +masonry(5)


// Flex

.leto-group
    display: flex

.leto-row
    flex-direction: row

.leto-column
    flex-direction: column

.leto-column-reverse
    flex-direction: column-reverse

.leto-no-wrap
    flex-wrap: nowrap

.leto-wrap
    flex-wrap: wrap

.leto-wrap-reverse
    flex-wrap: wrap-reverse


// Position

.leto-all-center
    justify-content: center
    align-items: center

.leto-group.leto

    &-horizontal

        +justifyContent()

    &-vertical

        +alignItems()
        

.leto-column.leto

    &-horizontal

        +alignItems()

    &-vertical

        +justifyContent()


.leto-left
    margin-left: auto

.leto-center
    margin-left: auto
    margin-right: auto

.leto-right
    margin-right: auto

.leto-group

    > .leto-left
        margin-left: 0
        margin-right: auto

    > .leto-center
        margin-left: auto
        margin-right: auto

    > .leto-right
        margin-left: auto
        margin-right: 0

// Flexbox areas

.leto-full 
    +letoFlexAreas(100%) 

.leto-seven-eighth
    +letoFlexAreas(87.5%)

.leto-five-sixth
    +letoFlexAreas(calc((100% / 6) * 5)) 

.leto-four-fifths
    +letoFlexAreas(80%)

.leto-three-quaters
    +letoFlexAreas(75%)  

.leto-two-thirds
    +letoFlexAreas(calc((100% / 3) * 2))  

.leto-five-eighth
    +letoFlexAreas(62.5%)

.leto-three-fifth
    +letoFlexAreas(60%)     

.leto-half
    +letoFlexAreas(50%)

.leto-three-sixth
    +letoFlexAreas(calc((100% / 6) * 3))

.leto-two-fifth
    +letoFlexAreas(40%)

.leto-three-eighth
    +letoFlexAreas(37.5%)
    
.leto-third
    +letoFlexAreas(calc(100% / 3))

.leto-quater
    +letoFlexAreas(25%)   

.leto-fifth
    +letoFlexAreas(20%)   

.leto-sixth
    +letoFlexAreas(calc(100% / 6))   

.leto-eighth
    +letoFlexAreas(12.5%)


// Flex-shrink

.leto-no-shrink
    flex-shrink: 0


// Space

.leto-space
    width: 100%
    height: calc($standardSize * 8)

    &-xxs
        width: 100%
        height: calc($xxs * 8)    

    &-xs
        width: 100%
        height: calc($xs * 8)    

    &-sm
        width: 100%
        height: calc($sm * 8)    

    &-md
        width: 100%
        height: calc($md * 8)  

    &-lg
        width: 100%
        height: calc($lg * 8)    

    &-xl
        width: 100%
        height: calc($xl * 8)    

    &-xxl
        width: 100%
        height: calc($xxl * 8) 