@import '_variables.sass'
@import '_white-lists.sass'

// Transformer contructor

=transformerConstructor($elementName)
    @content
    
    @if checkTransformerMQList($elementName)
        @media (min-width: $tablet)

            &-tablet
                @content

        @media (min-width: $tabletAndPC)

            &-tablet-pc
                @content

        @media (min-width: $tabletAndPC) and ($touchDevice)

            &-tablet-pc
                @content

        @media (min-width: $pc)

            &-pc
                @content

        @media (min-aspect-ratio: $ultrawideRatio) and (min-width: $ultrawide)

            &-ultrawide
                @content

        @media (min-aspect-ratio: $superUltrawideRatio) and (min-width: $ultrawide)
            
            &-super-ultrawide
                @content

=transformerColorConstructor($elementName, $color)
    @if $elementName == 'background'
        @if $color == $lightModeBgColor
            +themed()
                background: t('bg')

        @if $color == $darkModeBgColor
            +themed()
                background: t('invertedBg')

    @if $elementName == 'border'
        @if $color == $lightModeColor
            +themed()
                border-color: t('text')

        @if $color == $darkModeColor
            +themed()
                border-color: t('invertedText')


    @if $elementName == 'text'
        @if $color == $lightModeColor
            +themed()
                color: t('text')

        @if $color == $darkModeColor
            +themed()
                color: t('invertedText')


// Margin

=margin($value)
    margin: $value

=marginBalance($value)
    margin: -$value

=marginX($value)
    margin-left: $value
    margin-right: $value

=marginXBalance($value)
    margin-left: -$value
    margin-right: -$value

=marginY($value)
    margin-top: $value
    margin-bottom: $value

=marginYBalance($value)
    margin-top: -$value
    margin-bottom: -$value

=marginTop($value)
    margin-top: $value

=marginTopBalance($value)
    margin-top: -$value

=marginLeft($value)
    margin-left: $value

=marginLeftBalance($value)
    margin-left: -$value

=marginRight($value)
    margin-right: $value

=marginRightBalance($value)
    margin-right: -$value

=marginBottom($value)
    margin-bottom: $value

=marginBottomBalance($value)
    margin-bottom: -$value


// Padding

=padding($value)
    padding: $value

=paddingX($value)
    padding-left: $value
    padding-right: $value

=paddingY($value)
    padding-top: $value
    padding-bottom: $value

=paddingTop($value)
    padding-top: $value

=paddingLeft($value)
    padding-left: $value

=paddingRight($value)
    padding-right: $value

=paddingBottom($value)
    padding-bottom: $value


// Active

=active($color)
    background-color: $color

    &[class*=leto-bubble]
        border-width: 3px

    &[class*=leto-card]
        border-width: 3px

    &[class*=leto-button]
        border-width: 3px

    &[class*=leto-badge]
        border-width: 3px

    &[class*=leto-text]
        color: $color


// Hover

=hover($color)

    &:hover
        background-color: $color

    &[class*=leto-bubble]:hover
        border-width: 3px

    &[class*=leto-card]:hover
        border-width: 3px

    &[class*=leto-button]:hover
        border-width: 3px

    &[class*=leto-badge]:hover
        border-width: 3px

    &[class*=leto-text]:hover
        color: $color