$elementMQList: 'bubble', 'card', 'pile'
$elementPresetsList: 'bubble', 'card'
$layoutMQList: 'axisPosition', 'elementPosition', 'flexArea'
$transformerMQList: 'margin', 'padding'

@function checkElementMQList($value) 
    $found: false

    @each $entry in $elementMQList
        @if $value == $entry
            $found: true

    @return true

@function checkElementPresetsList($value)
    $found: false

    @each $entry in $elementPresetsList
        @if $value == $entry
            $found: true

    @return $found

@function checkLayoutMQList($value)
    $found: false

    @each $entry in $layoutMQList
        @if $value == $entry
            $found: true

    @return $found

@function checkTransformerMQList($value)
    $found: false

    @each $entry in $transformerMQList
        @if $value == $entry
            $found: true

    @return $found