@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700,900&display=swap");
:root {
  --theme-color: #99A7FF;
  --base-font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --base-font-size: 16px;
  --base-font-weight: 400;
  --heading-font-weight: 500;
  --base-background-color: #fdfdfd;
  --selection-color: #99A7FF;
  --link-border-bottom: #99A7FF;
  --sidebar-background: #fdfdfd;
  --sidebar-nav-link-text-decoration--active: none;
  --sidebar-nav-link-font-weight--active: 500;
  --sidebar-nav-link-color: #303030;
  --sidebar-nav-link-color--active: #99A7FF;
  --sidebar-nav-link-border-width--active: 0 2px 0 0;
  --sidebar-nav-link-border-color: #99A7FF;
  --sidebar-nav-link-margin: 0 -25px 0 0;
  --sidebar-border-color: #f2f2f2;
  --sidebar-border-width: 0 2px 0 0;
  --code-block-border-radius: 12px;
  --blockquote-border-radius: 12px;
  --code-theme-background: {}
    --code-theme-comment: #a6a6a6;
  --code-theme-function: #99A7FF;
  --code-theme-keyword: #9BFF99;
  --code-theme-operator: #FF8C8C;
  --code-theme-punctuation: #fdfdfd;
  --code-theme-selection: #99A7FF;
  --code-theme-selector: #FFBF80;
  --code-theme-tag: #FF8C8C;
  --code-theme-text: #fdfdfd;
  --code-theme-variable: #FF8C8C;
  --table-row-odd-background: transparent;
  --table-row-border-width: 2px;
  --table-row-border-color: #dadada;
  --cover-button-border-radius: 100px;
}

h1:hover > a, h2:hover > a, h3:hover > a, h4:hover > a, h5:hover > a, h6:hover > a {
  -webkit-text-decoration-color: #99A7FF !important;
          text-decoration-color: #99A7FF !important;
}

.sidebar::-webkit-scrollbar {
  background: transparent;
  width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

body:not([data-platform^="Mac"]) .sidebar::-webkit-scrollbar-thumb {
  background: transparent;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

body:not([data-platform^="Mac"]) .sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background: #dadada;
}

body:not([data-platform^="Mac"]) .sidebar:hover::-webkit-scrollbar-thumb {
  background: #dadada;
}

.sidebar:hover::-webkit-scrollbar-track {
  background: rgba(135, 135, 135, 0.1);
}

body:not([data-platform^="Mac"]) .sidebar:hover::-webkit-scrollbar-track {
  background: rgba(135, 135, 135, 0.1);
}

.markdown-section pre[data-lang] {
  background: #404040;
  border: 0px solid #f2f2f2;
}

.markdown-section table {
  border-collapse: separate;
  border-spacing: 0 8px;
}

.markdown-section tbody td {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.markdown-section tbody td:first-child {
  border-left: 1px solid #dadada;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 16px;
}

.markdown-section tbody td:last-child {
  border-right: 1px solid #dadada;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 16px;
}

.token.string {
  color: #9BFF99;
}
/*# sourceMappingURL=leto-theme.css.map */