@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
    
$tablet: 600px 
$pc: 1366px
$pcLarge: 1921px
$ultrawide: "21/9"

$xxs: 4px
$xs: 8px
$sm: 16px
$md: 24px
$lg: 32px
$xl: 40px
$xxl: 48px

$colorWhite: #fdfdfd 
$colorDarkWhite: darken($colorWhite, 5%);

$colorGrey: #d4d4d4
$colorLightGrey: lighten($colorGrey, 5%); // #f2f2f2
$colorLighterGrey: lighten($colorLightGrey, 5%);  
$colorDarkGrey: darken($colorGrey, 10%); // #a6a6a6
$colorDarkerGrey: darken($colorDarkGrey, 10%);

$colorBlack: #303030
$colorLightBlack: lighten($colorBlack, 10%);


$colorYellow: #FFFD99
$colorLightYellow: lighten($colorYellow, 10%);
$colorDarkYellow: darken($colorYellow, 10%);

$colorOrange: #FFBF80
$colorLightOrange: lighten($colorOrange, 10%);
$colorDarkOrange: darken($colorOrange, 10%);

$colorRed: #FF8C8C  
$colorLightRed: lighten($colorRed, 10%);
$colorDarkRed: darken($colorRed, 10%);

$colorPurple: #D499FF
$colorLightPurple: lighten($colorPurple, 10%);
$colorDarkPurple: darken($colorPurple, 10%);

$colorBlue: #99A7FF
$colorLightBlue: lighten($colorBlue, 10%);
$colorDarkBlue: darken($colorBlue, 10%);

$colorMint: #80FFD0 
$colorLightMint: lighten($colorMint, 10%);
$colorDarkMint: darken($colorMint, 10%);

$colorGreen: #9BFF99  
$colorLightGreen: lighten($colorGreen, 10%);
$colorDarkGreen: darken($colorGreen, 10%);


$fontFamily: 'Open Sans', sans-serif

$fontSizeXXS: 10px 
$fontSizeXS: 12px 
$fontSizeSM: 14px 
$fontSizeMD: 16px 
$fontSizeLG: 20px 
$fontSizeXL: 24px 
$fontSizeXXL: 32px 

$fontWeightLight: 300
$fontWeightRegular: 400
$fontWeightMedium: 500
$fontWeightBold: 700
$fontWeightBlack: 900

$basicPadding: $xs
$basicMargin: $xs