@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700,900&display=swap");
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fdfdfd;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

textarea {
  border: 1px solid rgba(0, 0, 0, 0);
}

textarea:focus {
  outline: 0;
}

input {
  border: 1px solid rgba(0, 0, 0, 0);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
  outline: 0;
}

h1 {
  margin-top: 24px;
  margin-bottom: 24px;
}

h2, h3 {
  margin-top: 16px;
  margin-bottom: 16px;
}

h4, h5 {
  margin-top: 8px;
  margin-bottom: 8px;
}

p, b {
  margin-top: 4px;
  margin-bottom: 4px;
}

.leto-bubble-label {
  max-width: 48px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
}

.leto-bubble-label-xxs {
  max-width: 8px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
}

.leto-bubble-label-xs {
  max-width: 16px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
}

.leto-bubble-label-sm {
  max-width: 32px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
}

.leto-bubble-label-md {
  max-width: 48px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
}

.leto-bubble-label-lg {
  max-width: 64px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
}

.leto-bubble-label-xl {
  max-width: 96px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
}

.leto-bubble-label-xxl {
  max-width: 128px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
}

.leto-bubble {
  height: 48px;
  width: 48px;
  font-size: 15.84px;
  border: 1px solid #dadada;
  border-radius: 24px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-bubble img {
  max-height: auto;
  max-width: 15.84px;
}

.leto-bubble-xxs {
  height: 8px;
  width: 8px;
  font-size: 2.64px;
  border: 1px solid #dadada;
  border-radius: 4px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-bubble-xxs img {
  max-height: auto;
  max-width: 2.64px;
}

.leto-bubble-xs {
  height: 16px;
  width: 16px;
  font-size: 5.28px;
  border: 1px solid #dadada;
  border-radius: 8px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-bubble-xs img {
  max-height: auto;
  max-width: 5.28px;
}

.leto-bubble-sm {
  height: 32px;
  width: 32px;
  font-size: 10.56px;
  border: 1px solid #dadada;
  border-radius: 16px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-bubble-sm img {
  max-height: auto;
  max-width: 10.56px;
}

.leto-bubble-md {
  height: 48px;
  width: 48px;
  font-size: 15.84px;
  border: 1px solid #dadada;
  border-radius: 24px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-bubble-md img {
  max-height: auto;
  max-width: 15.84px;
}

.leto-bubble-lg {
  height: 64px;
  width: 64px;
  font-size: 21.12px;
  border: 1px solid #dadada;
  border-radius: 32px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-bubble-lg img {
  max-height: auto;
  max-width: 21.12px;
}

.leto-bubble-xl {
  height: 96px;
  width: 96px;
  font-size: 31.68px;
  border: 1px solid #dadada;
  border-radius: 48px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-bubble-xl img {
  max-height: auto;
  max-width: 31.68px;
}

.leto-bubble-xxl {
  height: 128px;
  width: 128px;
  font-size: 42.24px;
  border: 1px solid #dadada;
  border-radius: 64px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-bubble-xxl img {
  max-height: auto;
  max-width: 42.24px;
}

.leto-bubble.active {
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 2px #dadada;
          box-shadow: 0 0 0 2px #dadada;
}

.leto-card-label {
  max-width: 100%;
}

.leto-card-label-xxs {
  max-width: 40px;
}

.leto-card-label-xs {
  max-width: 80px;
}

.leto-card-label-sm {
  max-width: 160px;
}

.leto-card-label-md {
  max-width: 240px;
}

.leto-card-label-lg {
  max-width: 320px;
}

.leto-card-label-xl {
  max-width: 480px;
}

.leto-card-label-xxl {
  max-width: 640px;
}

.leto-card {
  position: relative;
  min-height: 50px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-card-xxs {
  position: relative;
  width: 40px;
  min-height: 50px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-card-xs {
  position: relative;
  width: 80px;
  min-height: 50px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-card-sm {
  position: relative;
  width: 160px;
  min-height: 50px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-card-md {
  position: relative;
  width: 240px;
  min-height: 50px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-card-lg {
  position: relative;
  width: 320px;
  min-height: 50px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-card-xl {
  position: relative;
  width: 480px;
  min-height: 50px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-card-xxl {
  position: relative;
  width: 640px;
  min-height: 50px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-card-square-xxs {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-card-square-xs {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-card-square-sm {
  position: relative;
  width: 160px;
  height: 160px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-card-square-md {
  position: relative;
  width: 240px;
  height: 240px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-card-square-lg {
  position: relative;
  width: 320px;
  height: 320px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-card-square-xl {
  position: relative;
  width: 480px;
  height: 480px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-card-square-xxl {
  position: relative;
  width: 640px;
  height: 640px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
}

.leto-pile-item {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #dadada;
  border-radius: 12px;
}

.leto-button {
  text-decoration: none;
  text-align: center;
  border: 1px solid #dadada;
  border-radius: 100px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
  cursor: pointer;
  display: inline-block;
}

.leto-badge {
  background: #f2f2f2;
  font-size: 12px;
  border-radius: 100px;
  padding: 4px 8px;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  white-space: nowrap;
  display: inline-block;
}

.leto-input {
  background-color: rgba(255, 255, 255, 0);
  height: 48px;
  font-size: 16px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-input:focus {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.leto-input-xxs {
  background-color: rgba(255, 255, 255, 0);
  height: 8px;
  font-size: 16px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-input-xxs:focus {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.leto-input-xs {
  background-color: rgba(255, 255, 255, 0);
  height: 16px;
  font-size: 16px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-input-xs:focus {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.leto-input-sm {
  background-color: rgba(255, 255, 255, 0);
  height: 32px;
  font-size: 16px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-input-sm:focus {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.leto-input-md {
  background-color: rgba(255, 255, 255, 0);
  height: 48px;
  font-size: 16px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-input-md:focus {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.leto-input-lg {
  background-color: rgba(255, 255, 255, 0);
  height: 64px;
  font-size: 16px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-input-lg:focus {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.leto-input-xl {
  background-color: rgba(255, 255, 255, 0);
  height: 96px;
  font-size: 16px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-input-xl:focus {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.leto-input-xxl {
  background-color: rgba(255, 255, 255, 0);
  height: 128px;
  font-size: 16px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-input-xxl:focus {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.leto-search {
  background-color: #f2f2f2;
  height: 48px;
  font-size: 16px;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-search:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #dadada;
}

.leto-search-xxs {
  background-color: #f2f2f2;
  height: 8px;
  font-size: 16px;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-search-xxs:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #dadada;
}

.leto-search-xs {
  background-color: #f2f2f2;
  height: 16px;
  font-size: 16px;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-search-xs:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #dadada;
}

.leto-search-sm {
  background-color: #f2f2f2;
  height: 32px;
  font-size: 16px;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-search-sm:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #dadada;
}

.leto-search-md {
  background-color: #f2f2f2;
  height: 48px;
  font-size: 16px;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-search-md:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #dadada;
}

.leto-search-lg {
  background-color: #f2f2f2;
  height: 64px;
  font-size: 16px;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-search-lg:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #dadada;
}

.leto-search-xl {
  background-color: #f2f2f2;
  height: 96px;
  font-size: 16px;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-search-xl:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #dadada;
}

.leto-search-xxl {
  background-color: #f2f2f2;
  height: 128px;
  font-size: 16px;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-search-xxl:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #dadada;
}

.leto-textarea {
  background-color: rgba(255, 255, 255, 0);
  font-size: 16px;
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.leto-textarea:focus {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.leto-table {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
}

.leto-table tr:not(.leto-table-header) th {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  padding: 16px;
}

.leto-table tr:not(.leto-table-header) td {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  padding: 16px;
}

.leto-table tr:not(.leto-table-header) td:first-child, .leto-table tr:not(.leto-table-header) th:first-child {
  border-left: 1px solid #dadada;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.leto-table tr:not(.leto-table-header) td:last-child, .leto-table tr:not(.leto-table-header) th:last-child {
  border-right: 1px solid #dadada;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.leto-bubble-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leto-card-wrapper {
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-card-image {
  max-height: auto;
  width: 100%;
}

.leto-card-header {
  padding: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-card-link {
  color: #303030;
  text-decoration: none;
}

.leto-card-content {
  padding: 8px;
}

.leto-pile > * {
  display: block;
}

.leto-pile-empty {
  min-width: 300px;
  width: 100%;
  padding: 8px;
  display: block;
}

.leto-pile-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-pile-header:after {
  clear: both;
  display: block;
  content: '';
}

.leto-table-header td, .leto-table-header th {
  padding-left: 16px;
}

.leto-form-left {
  position: fixed;
  min-width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
}

.leto-form-right {
  position: fixed;
  min-width: 300px;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
}

@media (min-width: 1366px) {
  .leto-form-left, .leto-form-right {
    width: 50vw;
  }
}

.uneditable-input:focus {
  outline: 0;
}

.scrollable-table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.leto-frame {
  width: 100%;
  padding: 8px;
}

.leto-frame-full {
  width: 100%;
  padding: 8px;
}

.leto-frame-full .leto-container {
  position: relative;
  width: 100%;
}

.leto-container {
  position: relative;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

.leto-wrapper {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.leto-wrapper > [class*="leto-bubble"] ~ label {
  background: pink;
}

.leto-edge-wrapper-top {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-wrapper-top-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-wrapper-left {
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-wrapper-left-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-wrapper-right {
  width: auto;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-wrapper-right-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-wrapper-bottom {
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-wrapper-bottom-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1366px) {
  .leto-edge-wrapper-top, .leto-edge-wrapper-bottom {
    height: auto;
  }
  .leto-edge-wrapper-top-fixed, .leto-edge-wrapper-bottom-fixed {
    height: auto;
  }
  .leto-edge-wrapper-left, .leto-edge-wrapper-right {
    width: auto;
  }
  .leto-edge-wrapper-left-fixed, .leto-edge-wrapper-right-fixed {
    width: auto;
  }
}

.leto-edge-top {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-left {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-right {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-edge-bottom {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-subedge-top {
  height: 100%;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-subedge-top-c {
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-subedge-left {
  height: 100%;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-subedge-left-c {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-subedge-right {
  height: 100%;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-subedge-right-c {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-subedge-bottom {
  height: 100%;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-subedge-bottom-c {
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1366px) {
  .leto-subedge-top, .leto-subedge-bottom {
    min-height: 300px;
    height: 25vh;
  }
  .leto-subedge-left, .leto-subedge-right {
    min-width: 300px;
    width: 25vw;
  }
}

.leto-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.leto-layout {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-layout-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-layout-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-layout-wrap-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-layout-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-layout-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leto-layout-masonry {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 0;
          column-gap: 0;
}

@media (min-width: 600px) {
  .leto-layout-masonry {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (min-width: 1366px) {
  .leto-layout-masonry {
    -webkit-column-count: 4;
            column-count: 4;
  }
}

.leto-layout-masonry > * {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  counter-increment: item-counter;
}

.leto-layout-masonry-3 {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 0;
          column-gap: 0;
}

@media (min-width: 600px) {
  .leto-layout-masonry-3 {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (min-width: 1366px) {
  .leto-layout-masonry-3 {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

.leto-layout-masonry-3 > * {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  counter-increment: item-counter;
}

.leto-layout-masonry-4 {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 0;
          column-gap: 0;
}

@media (min-width: 600px) {
  .leto-layout-masonry-4 {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (min-width: 1366px) {
  .leto-layout-masonry-4 {
    -webkit-column-count: 4;
            column-count: 4;
  }
}

.leto-layout-masonry-4 > * {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  counter-increment: item-counter;
}

.leto-layout-masonry-5 {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 0;
          column-gap: 0;
}

@media (min-width: 600px) {
  .leto-layout-masonry-5 {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (min-width: 1366px) {
  .leto-layout-masonry-5 {
    -webkit-column-count: 5;
            column-count: 5;
  }
}

.leto-layout-masonry-5 > * {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  counter-increment: item-counter;
}

.leto-layout-x-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.leto-layout-x-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.leto-layout-x-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.leto-layout-x-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leto-layout-x-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.leto-layout-x-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.leto-layout-y-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.leto-layout-y-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leto-layout-y-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.leto-left {
  margin-right: auto;
}

.leto-center {
  margin-left: auto;
  margin-right: auto;
}

.leto-right {
  margin-left: auto;
}

.leto-full {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 600px) {
  .leto-full-tablet {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 1366px) {
  .leto-full-pc {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-full-ultrawide {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.leto-fourfifths {
  width: 80%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 600px) {
  .leto-fourfifths-tablet {
    width: 80%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 1366px) {
  .leto-fourfifths-pc {
    width: 80%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-fourfifths-ultrawide {
    width: 80%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.leto-threequaters {
  width: 75%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 600px) {
  .leto-threequaters-tablet {
    width: 75%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 1366px) {
  .leto-threequaters-pc {
    width: 75%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-threequaters-ultrawide {
    width: 75%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.leto-twothirds {
  width: calc((100% / 3) * 2);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 600px) {
  .leto-twothirds-tablet {
    width: calc((100% / 3) * 2);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 1366px) {
  .leto-twothirds-pc {
    width: calc((100% / 3) * 2);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-twothirds-ultrawide {
    width: calc((100% / 3) * 2);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.leto-half {
  width: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 600px) {
  .leto-half-tablet {
    width: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 1366px) {
  .leto-half-pc {
    width: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-half-ultrawide {
    width: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.leto-third {
  width: calc(100% / 3);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 600px) {
  .leto-third-tablet {
    width: calc(100% / 3);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 1366px) {
  .leto-third-pc {
    width: calc(100% / 3);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-third-ultrawide {
    width: calc(100% / 3);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.leto-quater {
  width: 25%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 600px) {
  .leto-quater-tablet {
    width: 25%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 1366px) {
  .leto-quater-pc {
    width: 25%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-quater-ultrawide {
    width: 25%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.leto-fifth {
  width: 20%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 600px) {
  .leto-fifth-tablet {
    width: 20%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 1366px) {
  .leto-fifth-pc {
    width: 20%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-fifth-ultrawide {
    width: 20%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.leto-sixth {
  width: calc(100% / 6);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 600px) {
  .leto-sixth-tablet {
    width: calc(100% / 6);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 1366px) {
  .leto-sixth-pc {
    width: calc(100% / 6);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-sixth-ultrawide {
    width: calc(100% / 6);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.leto-eighth {
  width: 12.5%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 600px) {
  .leto-eighth-tablet {
    width: 12.5%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 1366px) {
  .leto-eighth-pc {
    width: 12.5%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-aspect-ratio: 21 / 9) and (min-width: 1921px) {
  .leto-eighth-ultrawide {
    width: 12.5%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.leto-m {
  margin: 24px;
}

.leto-m-xxs {
  margin: 4px;
}

.leto-m-xs {
  margin: 8px;
}

.leto-m-sm {
  margin: 16px;
}

.leto-m-md {
  margin: 24px;
}

.leto-m-lg {
  margin: 32px;
}

.leto-m-xl {
  margin: 48px;
}

.leto-m-xxl {
  margin: 64px;
}

.leto-m-none {
  margin: 0;
}

.leto-m-balance {
  margin: -24px;
}

.leto-m-balance-xxs {
  margin: -4px;
}

.leto-m-balance-xs {
  margin: -8px;
}

.leto-m-balance-sm {
  margin: -16px;
}

.leto-m-balance-md {
  margin: -24px;
}

.leto-m-balance-lg {
  margin: -32px;
}

.leto-m-balance-xl {
  margin: -48px;
}

.leto-m-balance-xxl {
  margin: -64px;
}

.leto-mx {
  margin-left: 24px;
  margin-right: 24px;
}

.leto-mx-xxs {
  margin-left: 4px;
  margin-right: 4px;
}

.leto-mx-xs {
  margin-left: 8px;
  margin-right: 8px;
}

.leto-mx-sm {
  margin-left: 16px;
  margin-right: 16px;
}

.leto-mx-md {
  margin-left: 24px;
  margin-right: 24px;
}

.leto-mx-lg {
  margin-left: 32px;
  margin-right: 32px;
}

.leto-mx-xl {
  margin-left: 48px;
  margin-right: 48px;
}

.leto-mx-xxl {
  margin-left: 64px;
  margin-right: 64px;
}

.leto-mx-none {
  margin-left: 0;
  margin-right: 0;
}

.leto-my {
  margin-top: 24px;
  margin-bottom: 24px;
}

.leto-my-xxs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.leto-my-xs {
  margin-top: 8px;
  margin-bottom: 8px;
}

.leto-my-sm {
  margin-top: 16px;
  margin-bottom: 16px;
}

.leto-my-md {
  margin-top: 24px;
  margin-bottom: 24px;
}

.leto-my-lg {
  margin-top: 32px;
  margin-bottom: 32px;
}

.leto-my-xl {
  margin-top: 48px;
  margin-bottom: 48px;
}

.leto-my-xxl {
  margin-top: 64px;
  margin-bottom: 64px;
}

.leto-my-none {
  margin-top: 0;
  margin-bottom: 0;
}

.leto-mt {
  margin-top: 24px;
}

.leto-mt-xxs {
  margin-top: 4px;
}

.leto-mt-xs {
  margin-top: 8px;
}

.leto-mt-sm {
  margin-top: 16px;
}

.leto-mt-md {
  margin-top: 24px;
}

.leto-mt-lg {
  margin-top: 32px;
}

.leto-mt-xl {
  margin-top: 48px;
}

.leto-mt-xxl {
  margin-top: 64px;
}

.leto-mt-none {
  margin-top: 0;
}

.leto-ml {
  margin-left: 24px;
}

.leto-ml-xxs {
  margin-left: 4px;
}

.leto-ml-xs {
  margin-left: 8px;
}

.leto-ml-sm {
  margin-left: 16px;
}

.leto-ml-md {
  margin-left: 24px;
}

.leto-ml-lg {
  margin-left: 32px;
}

.leto-ml-xl {
  margin-left: 48px;
}

.leto-ml-xxl {
  margin-left: 64px;
}

.leto-ml-none {
  margin-left: 0;
}

.leto-mr {
  margin-right: 24px;
}

.leto-mr-xxs {
  margin-right: 4px;
}

.leto-mr-xs {
  margin-right: 8px;
}

.leto-mr-sm {
  margin-right: 16px;
}

.leto-mr-md {
  margin-right: 24px;
}

.leto-mr-lg {
  margin-right: 32px;
}

.leto-mr-xl {
  margin-right: 48px;
}

.leto-mr-xxl {
  margin-right: 64px;
}

.leto-mr-none {
  margin-right: 0;
}

.leto-mb {
  margin-bottom: 24px;
}

.leto-mb-xxs {
  margin-bottom: 4px;
}

.leto-mb-xs {
  margin-bottom: 8px;
}

.leto-mb-sm {
  margin-bottom: 16px;
}

.leto-mb-md {
  margin-bottom: 24px;
}

.leto-mb-lg {
  margin-bottom: 32px;
}

.leto-mb-xl {
  margin-bottom: 48px;
}

.leto-mb-xxl {
  margin-bottom: 64px;
}

.leto-mb-none {
  margin-bottom: 0;
}

.leto-p {
  padding: 24px;
}

.leto-p-xxs {
  padding: 4px;
}

.leto-p-xs {
  padding: 8px;
}

.leto-p-sm {
  padding: 16px;
}

.leto-p-md {
  padding: 24px;
}

.leto-p-lg {
  padding: 32px;
}

.leto-p-xl {
  padding: 48px;
}

.leto-p-xxl {
  padding: 64px;
}

.leto-p-none {
  padding: 0;
}

.leto-px {
  padding-left: 24px;
  padding-right: 24px;
}

.leto-px-xxs {
  padding-left: 4px;
  padding-right: 4px;
}

.leto-px-xs {
  padding-left: 8px;
  padding-right: 8px;
}

.leto-px-sm {
  padding-left: 16px;
  padding-right: 16px;
}

.leto-px-md {
  padding-left: 24px;
  padding-right: 24px;
}

.leto-px-lg {
  padding-left: 32px;
  padding-right: 32px;
}

.leto-px-xl {
  padding-left: 48px;
  padding-right: 48px;
}

.leto-px-xxl {
  padding-left: 64px;
  padding-right: 64px;
}

.leto-px-none {
  padding-left: 0;
  padding-right: 0;
}

.leto-py {
  padding-top: 24px;
  padding-bottom: 24px;
}

.leto-py-xxs {
  padding-top: 4px;
  padding-bottom: 4px;
}

.leto-py-xs {
  padding-top: 8px;
  padding-bottom: 8px;
}

.leto-py-sm {
  padding-top: 16px;
  padding-bottom: 16px;
}

.leto-py-md {
  padding-top: 24px;
  padding-bottom: 24px;
}

.leto-py-lg {
  padding-top: 32px;
  padding-bottom: 32px;
}

.leto-py-xl {
  padding-top: 48px;
  padding-bottom: 48px;
}

.leto-py-xxl {
  padding-top: 64px;
  padding-bottom: 64px;
}

.leto-py-none {
  padding-top: 0;
  padding-bottom: 0;
}

.leto-pt {
  padding-top: 24px;
}

.leto-pt-xxs {
  padding-top: 4px;
}

.leto-pt-xs {
  padding-top: 8px;
}

.leto-pt-sm {
  padding-top: 16px;
}

.leto-pt-md {
  padding-top: 24px;
}

.leto-pt-lg {
  padding-top: 32px;
}

.leto-pt-xl {
  padding-top: 48px;
}

.leto-pt-xxl {
  padding-top: 64px;
}

.leto-pt-none {
  padding-top: 0;
}

.leto-pl {
  padding-left: 24px;
}

.leto-pl-xxs {
  padding-left: 4px;
}

.leto-pl-xs {
  padding-left: 8px;
}

.leto-pl-sm {
  padding-left: 16px;
}

.leto-pl-md {
  padding-left: 24px;
}

.leto-pl-lg {
  padding-left: 32px;
}

.leto-pl-xl {
  padding-left: 48px;
}

.leto-pl-xxl {
  padding-left: 64px;
}

.leto-pl-none {
  padding-left: 0;
}

.leto-pr {
  padding-right: 24px;
}

.leto-pr-xxs {
  padding-right: 4px;
}

.leto-pr-xs {
  padding-right: 8px;
}

.leto-pr-sm {
  padding-right: 16px;
}

.leto-pr-md {
  padding-right: 24px;
}

.leto-pr-lg {
  padding-right: 32px;
}

.leto-pr-xl {
  padding-right: 48px;
}

.leto-pr-xxl {
  padding-right: 64px;
}

.leto-pr-none {
  padding-right: 0;
}

.leto-pb {
  padding-bottom: 24px;
}

.leto-pb-xxs {
  padding-bottom: 4px;
}

.leto-pb-xs {
  padding-bottom: 8px;
}

.leto-pb-sm {
  padding-bottom: 16px;
}

.leto-pb-md {
  padding-bottom: 24px;
}

.leto-pb-lg {
  padding-bottom: 32px;
}

.leto-pb-xl {
  padding-bottom: 48px;
}

.leto-pb-xxl {
  padding-bottom: 64px;
}

.leto-pb-none {
  padding-bottom: 0;
}

.leto-index-1 {
  z-index: 1;
}

.leto-index-2 {
  z-index: 2;
}

.leto-index-3 {
  z-index: 3;
}

.leto-index-4 {
  z-index: 4;
}

.leto-index-5 {
  z-index: 5;
}

.leto-index-6 {
  z-index: 6;
}

.leto-index-7 {
  z-index: 7;
}

.leto-index-8 {
  z-index: 8;
}

.leto-index-9 {
  z-index: 9;
}

.leto-index-10 {
  z-index: 10;
}

.leto-index-11 {
  z-index: 11;
}

.leto-index-12 {
  z-index: 12;
}

.leto-index-13 {
  z-index: 13;
}

.leto-index-14 {
  z-index: 14;
}

.leto-index-15 {
  z-index: 15;
}

.leto-index-16 {
  z-index: 16;
}

.leto-index-17 {
  z-index: 17;
}

.leto-index-18 {
  z-index: 18;
}

.leto-index-19 {
  z-index: 19;
}

.leto-index-20 {
  z-index: 20;
}

.leto-roundness {
  border-radius: 24px;
}

.leto-roundness-xxs {
  border-radius: 4px;
}

.leto-roundness-xs {
  border-radius: 8px;
}

.leto-roundness-sm {
  border-radius: 16px;
}

.leto-roundness-md {
  border-radius: 24px;
}

.leto-roundness-lg {
  border-radius: 32px;
}

.leto-roundness-xl {
  border-radius: 48px;
}

.leto-roundness-xxl {
  border-radius: 64px;
}

.leto-roundness-full {
  border-radius: 100px;
}

.leto-border {
  border: 1px solid #dadada;
}

.leto-border-x {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.leto-border-y {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
}

.leto-border-top {
  border-top: 1px solid #dadada;
}

.leto-border-left {
  border-left: 1px solid #dadada;
}

.leto-border-right {
  border-right: 1px solid #dadada;
}

.leto-border-bottom {
  border-bottom: 1px solid #dadada;
}

.leto-border-light {
  border-color: #fdfdfd;
}

.leto-border-lightMedium {
  border-color: #f2f2f2;
}

.leto-border-medium {
  border-color: #dadada;
}

.leto-border-dark {
  border-color: #303030;
}

.leto-border-yellow {
  border-color: #FFFD99;
}

.leto-border-orange {
  border-color: #FFBF80;
}

.leto-border-red {
  border-color: #FF8C8C;
}

.leto-border-purple {
  border-color: #D499FF;
}

.leto-border-blue {
  border-color: #99A7FF;
}

.leto-border-mint {
  border-color: #80FFD0;
}

.leto-border-green {
  border-color: #9BFF99;
}

.leto-border-none {
  border: none;
}

.leto-text-light {
  font-weight: 300;
}

.leto-text-regular {
  font-weight: 400;
}

.leto-text-medium {
  font-weight: 500;
}

.leto-text-bold {
  font-weight: 700;
}

.leto-text-black {
  font-weight: 900;
}

.leto-text-italic {
  font-style: italic;
}

.leto-text-light {
  color: #fdfdfd;
}

.leto-text-lightMedium {
  color: #f2f2f2;
}

.leto-text-medium {
  color: #dadada;
}

.leto-text-dark {
  color: #303030;
}

.leto-text-yellow {
  color: #FFFD99;
}

.leto-text-orange {
  color: #FFBF80;
}

.leto-text-red {
  color: #FF8C8C;
}

.leto-text-purple {
  color: #D499FF;
}

.leto-text-blue {
  color: #99A7FF;
}

.leto-text-mint {
  color: #80FFD0;
}

.leto-text-green {
  color: #9BFF99;
}

.leto-link {
  cursor: pointer;
}

.leto-bg-light {
  background-color: #fdfdfd;
}

.leto-bg-lightMedium {
  background-color: #f2f2f2;
}

.leto-bg-medium {
  background-color: #dadada;
}

.leto-bg-dark {
  background-color: #303030;
}

.leto-bg-yellow {
  background-color: #FFFD99;
}

.leto-bg-orange {
  background-color: #FFBF80;
}

.leto-bg-red {
  background-color: #FF8C8C;
}

.leto-bg-purple {
  background-color: #D499FF;
}

.leto-bg-blue {
  background-color: #99A7FF;
}

.leto-bg-mint {
  background-color: #80FFD0;
}

.leto-bg-green {
  background-color: #9BFF99;
}

.leto-bg-none {
  border: none;
}
/*# sourceMappingURL=leto.css.map */