@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
[class*=leto-frame-theme] h1 {
  margin: 0;
}

[class*=leto-frame-theme] h2, [class*=leto-frame-theme] h3 {
  margin: 0;
}

[class*=leto-frame-theme] h4, [class*=leto-frame-theme] h5 {
  margin: 0;
}

[class*=leto-frame-theme] p, [class*=leto-frame-theme] b {
  margin: 0;
}

[class*=leto-frame-theme] .leto-bubble {
  height: 48px;
  width: 48px;
  font-size: 15.84px;
  border: 0;
  border-radius: 0;
  margin: 0;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble img {
  max-width: 15.84px;
}

[class*=leto-frame-theme] .leto-bubble-xxs {
  height: 16px;
  width: 16px;
  font-size: 5.28px;
  border: 0;
  border-radius: 0;
  margin: 0;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-xxs img {
  max-width: 5.28px;
}

[class*=leto-frame-theme] .leto-bubble-xs {
  height: 24px;
  width: 24px;
  font-size: 7.92px;
  border: 0;
  border-radius: 0;
  margin: 0;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-xs img {
  max-width: 7.92px;
}

[class*=leto-frame-theme] .leto-bubble-sm {
  height: 32px;
  width: 32px;
  font-size: 10.56px;
  border: 0;
  border-radius: 0;
  margin: 0;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-sm img {
  max-width: 10.56px;
}

[class*=leto-frame-theme] .leto-bubble-md {
  height: 48px;
  width: 48px;
  font-size: 15.84px;
  border: 0;
  border-radius: 0;
  margin: 0;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-md img {
  max-width: 15.84px;
}

[class*=leto-frame-theme] .leto-bubble-lg {
  height: 64px;
  width: 64px;
  font-size: 21.12px;
  border: 0;
  border-radius: 0;
  margin: 0;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-lg img {
  max-width: 21.12px;
}

[class*=leto-frame-theme] .leto-bubble-xl {
  height: 96px;
  width: 96px;
  font-size: 31.68px;
  border: 0;
  border-radius: 0;
  margin: 0;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-xl img {
  max-width: 31.68px;
}

[class*=leto-frame-theme] .leto-bubble-xxl {
  height: 128px;
  width: 128px;
  font-size: 42.24px;
  border: 0;
  border-radius: 0;
  margin: 0;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-xxl img {
  max-width: 42.24px;
}

[class*=leto-frame-theme] .leto-card {
  position: relative;
  min-height: 50px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-xxs {
  position: relative;
  width: 80px;
  min-height: 50px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-xxs > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-xs {
  position: relative;
  width: 120px;
  min-height: 50px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-xs > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-sm {
  position: relative;
  width: 160px;
  min-height: 50px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-sm > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-md {
  position: relative;
  width: 240px;
  min-height: 50px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-md > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-lg {
  position: relative;
  width: 320px;
  min-height: 50px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-lg > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-xl {
  position: relative;
  width: 480px;
  min-height: 50px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-xl > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-xxl {
  position: relative;
  width: 640px;
  min-height: 50px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-xxl > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-square {
  position: relative;
  width: 240px;
  height: 240px;
  border: 0;
  border-radius: 0;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-square > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-square-xxs {
  position: relative;
  width: 80px;
  height: 80px;
  border: 0;
  border-radius: 0;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-square-xxs > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-square-xs {
  position: relative;
  width: 120px;
  height: 120px;
  border: 0;
  border-radius: 0;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-square-xs > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-square-sm {
  position: relative;
  width: 160px;
  height: 160px;
  border: 0;
  border-radius: 0;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-square-sm > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-square-md {
  position: relative;
  width: 240px;
  height: 240px;
  border: 0;
  border-radius: 0;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-square-md > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-square-lg {
  position: relative;
  width: 320px;
  height: 320px;
  border: 0;
  border-radius: 0;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-square-lg > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-square-xl {
  position: relative;
  width: 480px;
  height: 480px;
  border: 0;
  border-radius: 0;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-square-xl > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-card-square-xxl {
  position: relative;
  width: 640px;
  height: 640px;
  border: 0;
  border-radius: 0;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

[class*=leto-frame-theme] .leto-card-square-xxl > .leto-image-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

[class*=leto-frame-theme] .leto-pile-item {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

[class*=leto-frame-theme] .leto-button {
  background: rgba(0, 0, 0, 0);
  text-decoration: none;
  text-align: center;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: inline-block;
}

[class*=leto-frame-theme] .leto-badge {
  background: rgba(0, 0, 0, 0);
  font-size: 12px;
  border-radius: 0;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  display: inline-block;
}

[class*=leto-frame-theme] .leto-input {
  background-color: rgba(255, 255, 255, 0);
  height: 48px;
  font-size: 16px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-input:focus {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}

[class*=leto-frame-theme] .leto-input-xxs {
  background-color: rgba(255, 255, 255, 0);
  height: 16px;
  font-size: 16px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-input-xxs:focus {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}

[class*=leto-frame-theme] .leto-input-xs {
  background-color: rgba(255, 255, 255, 0);
  height: 24px;
  font-size: 16px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-input-xs:focus {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}

[class*=leto-frame-theme] .leto-input-sm {
  background-color: rgba(255, 255, 255, 0);
  height: 32px;
  font-size: 16px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-input-sm:focus {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}

[class*=leto-frame-theme] .leto-input-md {
  background-color: rgba(255, 255, 255, 0);
  height: 48px;
  font-size: 16px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-input-md:focus {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}

[class*=leto-frame-theme] .leto-input-lg {
  background-color: rgba(255, 255, 255, 0);
  height: 64px;
  font-size: 16px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-input-lg:focus {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}

[class*=leto-frame-theme] .leto-input-xl {
  background-color: rgba(255, 255, 255, 0);
  height: 96px;
  font-size: 16px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-input-xl:focus {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}

[class*=leto-frame-theme] .leto-input-xxl {
  background-color: rgba(255, 255, 255, 0);
  height: 128px;
  font-size: 16px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-input-xxl:focus {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}

[class*=leto-frame-theme] .leto-search {
  background-color: #e1e1e1;
  height: 48px;
  font-size: 16px;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-search:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #d4d4d4;
}

[class*=leto-frame-theme] .leto-search-xxs {
  background-color: #e1e1e1;
  height: 16px;
  font-size: 16px;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-search-xxs:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #d4d4d4;
}

[class*=leto-frame-theme] .leto-search-xs {
  background-color: #e1e1e1;
  height: 24px;
  font-size: 16px;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-search-xs:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #d4d4d4;
}

[class*=leto-frame-theme] .leto-search-sm {
  background-color: #e1e1e1;
  height: 32px;
  font-size: 16px;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-search-sm:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #d4d4d4;
}

[class*=leto-frame-theme] .leto-search-md {
  background-color: #e1e1e1;
  height: 48px;
  font-size: 16px;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-search-md:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #d4d4d4;
}

[class*=leto-frame-theme] .leto-search-lg {
  background-color: #e1e1e1;
  height: 64px;
  font-size: 16px;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-search-lg:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #d4d4d4;
}

[class*=leto-frame-theme] .leto-search-xl {
  background-color: #e1e1e1;
  height: 96px;
  font-size: 16px;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-search-xl:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #d4d4d4;
}

[class*=leto-frame-theme] .leto-search-xxl {
  background-color: #e1e1e1;
  height: 128px;
  font-size: 16px;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-search-xxl:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #d4d4d4;
}

[class*=leto-frame-theme] .leto-textarea {
  background-color: rgba(255, 255, 255, 0);
  font-size: 16px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 12px 16px;
}

[class*=leto-frame-theme] .leto-textarea:focus {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}

[class*=leto-frame-theme] .leto-table {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
}

[class*=leto-frame-theme] .leto-table tr:not(.leto-header) th {
  border-top: 0;
  border-bottom: 0;
  padding: 0;
}

[class*=leto-frame-theme] .leto-table tr:not(.leto-header) td {
  border-top: 0;
  border-bottom: 0;
  padding: 0;
}

[class*=leto-frame-theme] .leto-table tr:not(.leto-header) td:first-child, [class*=leto-frame-theme] .leto-table tr:not(.leto-header) th:first-child {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[class*=leto-frame-theme] .leto-table tr:not(.leto-header) td:last-child, [class*=leto-frame-theme] .leto-table tr:not(.leto-header) th:last-child {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper {
  width: 48px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-wrapper > [class*=leto-bubble] {
  height: 48px;
  width: 48px;
  border-radius: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper > [class*=leto-bubble] {
  margin: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper > label {
  text-align: center;
}

[class*=leto-frame-theme] .leto-bubble-wrapper > [class*=leto-bubble] ~ label {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper > label ~ [class*=leto-bubble] {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xxs {
  width: 16px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xxs > [class*=leto-bubble] {
  height: 16px;
  width: 16px;
  border-radius: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xxs > [class*=leto-bubble] {
  margin: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xxs > label {
  text-align: center;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xxs > [class*=leto-bubble] ~ label {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xxs > label ~ [class*=leto-bubble] {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xs {
  width: 24px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xs > [class*=leto-bubble] {
  height: 24px;
  width: 24px;
  border-radius: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xs > [class*=leto-bubble] {
  margin: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xs > label {
  text-align: center;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xs > [class*=leto-bubble] ~ label {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xs > label ~ [class*=leto-bubble] {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-sm {
  width: 32px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-sm > [class*=leto-bubble] {
  height: 32px;
  width: 32px;
  border-radius: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-sm > [class*=leto-bubble] {
  margin: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-sm > label {
  text-align: center;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-sm > [class*=leto-bubble] ~ label {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-sm > label ~ [class*=leto-bubble] {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-md {
  width: 48px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-md > [class*=leto-bubble] {
  height: 48px;
  width: 48px;
  border-radius: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-md > [class*=leto-bubble] {
  margin: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-md > label {
  text-align: center;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-md > [class*=leto-bubble] ~ label {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-md > label ~ [class*=leto-bubble] {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-lg {
  width: 64px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-lg > [class*=leto-bubble] {
  height: 64px;
  width: 64px;
  border-radius: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-lg > [class*=leto-bubble] {
  margin: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-lg > label {
  text-align: center;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-lg > [class*=leto-bubble] ~ label {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-lg > label ~ [class*=leto-bubble] {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xl {
  width: 96px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xl > [class*=leto-bubble] {
  height: 96px;
  width: 96px;
  border-radius: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xl > [class*=leto-bubble] {
  margin: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xl > label {
  text-align: center;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xl > [class*=leto-bubble] ~ label {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xl > label ~ [class*=leto-bubble] {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xxl {
  width: 128px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xxl > [class*=leto-bubble] {
  height: 128px;
  width: 128px;
  border-radius: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xxl > [class*=leto-bubble] {
  margin: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xxl > label {
  text-align: center;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xxl > [class*=leto-bubble] ~ label {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-bubble-wrapper-xxl > label ~ [class*=leto-bubble] {
  margin-top: 0;
}

[class*=leto-frame-theme] .leto-card-wrapper {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
/*# sourceMappingURL=leto-custom-theme.css.map */